
}
ul{
	margin-bottom: 0px;
}
ul li {	
	text-decoration: none;
}

span{
	color: #ea1b21;
	font-family: Roboto;
}
.container {
    width: 1200px;
}
body{
font-family: Roboto ;
	margin: auto;
	padding: 0px;
}
.top_bar{
	padding: 5px 0px;
    border-bottom: 1px solid #e9e9e9;
}
.top_bar img{
	float: left;
	margin-right: 7px;
	    margin-top: 2px;

}
.header{
	padding-top: 5px;
}
.top_bar a {
    color: #222222;
}
.call{
	float:left;
	margin-top: 2px;
	font-size: 13px;
}
.logo{
	line-height: 86px;
	margin-top: 25px;
}
.logo_search{
	height: 99px;
}
.giohang{
	    float: right;
        margin-top: 32px;

}
.giohang>img{
	margin-right: 10px;
}
.them{
	position: absolute;
	width: 16px;
	height:16px;
	border-radius: 50%;
	background: #eb1922;
	margin-top: -38px;
	margin-left: 33px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	line-height: 16px;
}
.ocean-topcart #carttt {
    margin: 0;
    padding: 0;
}
.version-1 {
    clear: both;
    background: transparent;
    float: right;
}
.empty{
	overflow-y: scroll;
    height: 250px;
}
.sanpham_car{float: left;
padding: 15px 5px;}
.img_car img{
	width: 32%;
	float: left;
}
.gia_sao_car input{
	margin-top: 0;
	width: 50px;
	float: left;
	border: 1px solid;
}
.produc_car{
	    float: left;
    margin-top: 25px;
    margin-left: 25px;
}
.produ_car a{
	color: #2b2b2b;
}
.gia_car{
	float: left;
    font-size: 19px;

}
.gia_car span{
	    font-family: Roboto Condensed;
}
.div-total{
	font-size: 20px;
    float: left;
    padding: 30px 10px 10px 10px;
}
.div-total span{
	margin-left: 60px;
}
.cat_button{
	float: left;
}
.cat_button button{
	  width: 137px;
    font-size: 16px;
    background: #eb1a20
}
.dropdown-menu {
    display: block;
    margin: 0;
	width: 320px;
    padding: 20px;
    top: 120%;
    visibility: hidden;
    left: auto;
    right: 0;
    opacity: 0;
    transition: all .3s;
}
.open .dropdown-menu {
    visibility: visible;
    z-index: 99999;
    top: 150%;
    opacity: 1;
}
.dropdown, .dropup {
    position: relative;
}
.open>.dropdown-menu {
    margin-left: -111px;
}
.widget_shopping_cart_content{

}
.header_middle_menu{
	text-align: right;
}
.header_middle_menu ul {
	margin-right: -2px;
	margin-bottom: 0;
}
.header_middle_menu>ul>li{
	display: inline-block;	
	position: relative;
	z-index: 10;
	width: auto;
	margin-left: 17px;
	padding: 0px 17px 0px 0px;
	border-right: 1px solid #e9e9e9;
}
.header_middle_menu>ul>li>a{
	display: block;
	font-size: 13px;
	color: #3e3e3e;
	text-decoration: none;
}
.header_middle_menu>ul>li>a:hover{
	color: #e4171c;

}
.header_middle_menu>ul>li>ul{
	visibility: hidden;
	position: absolute;
	top: 200%;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid #ccc;
	margin-left: -21px;
    background: #fff;
    width: 66px;
}
.header_middle_menu>ul>li:hover ul{
	visibility: visible;
	top: 127%;
	opacity: 1

}
.header_middle_menu>ul>li>ul>li{
	list-style: none;
	position: relative;
	text-align: left;
	    margin-left: -35px;
}
.header_middle_menu>ul>li>ul>li>a{	
	display: block;
	height: 30px;

	background: transparent;
	line-height: 30px;
	color :#3e3e3e;		
	text-decoration: none;
	font-size: 13px;
}
.header_middle_menu>ul>li>ul>li>a:hover{
		color:  #e4171c;
		transition: all 0.3s;
	    text-indent: 15px;
}
.header_middle_menu ul .usd{
	    border: none;
	    margin-right: -14px;
}
.all {
	margin-top:24px;
}
.all  li .dropdown-menu{
	min-width:133px;
	margin-left: 65px;
	border-radius: inherit;
	width: 133px;
	overflow-y: scroll;
	margin-top: -16px;

}
.all .list {
		border-right: 1px solid #d4d4d4;
}

.list ul {
	max-height: 100px;
}
.list ul li {
	margin-top: -40px;
}
.all  li a{
	color: black;

}
.all  li a:hover{
	color: #e4171c;
	background: #fff;
	
}
.all  li ul li a:hover{
	transition: all 0.4s;
	    text-indent: 5px;
	    background: transparent;

}
.all  li a {
	text-decoration: none;
	    font-family: roboto condensed;
    font-size: 16px;
    line-height: 38px;
}
.all  li i {
	font-size: 14px;
	margin-left: 2px;
	display: inline-block;
}
.all  li img{
	margin-left: 19px;
}
.all .list{
	margin-left: 17px;
	list-style: none;
	min-width: 100px;
	position: absolute;
	width: 116px;
	height: 36px;
}
.all  li ul li a {
	margin-left: -23px;
	transition: all 0.4s;
	margin-top: 30px;
}
.us ul li img{
padding-right: 15px
} 

.all form {
    border: 2px solid #eb1922;
    width: 91.668%;
    position: relative;
    height: 40px;
    margin-left: 74px;
    margin-top: 6px;
}
.enterr .placeholder{
	color: #e4171c;
}
.searchhh{
	border: none;
	background: #eb1a20;
	    width: 130px;
    height: 38px;
	color: #fff;
	float: right;
		font-size: 18px;
		  letter-spacing: 1px;
		 font-family: Roboto condensed;
		     position: absolute;
		    top: 0;
		    right: -2px;
		    margin-top: -1px;
		    line-height: 38px;
		        transition: 0.2s;

}
.searchhh:hover{
	background: #ac2925;
	border: none;

}

.searchhh p {
	line-height: 40px;
}
.form-control{
	margin-top: 0px;
	    padding: 0px 0px 0px 149px;
	    outline: 0;
		border: none;
		height: 36px;
}
.header3{
	height: 51px;
}
.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
    border-bottom: 2px solid #e4171c;
    margin-bottom: 0px;
    border-radius: 0;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background: #fff;
    color: #e4171c;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #e4171c;
}
.navbar-inverse .navbar-nav>li:hover>ul{
	top:108%;
	visibility: visible;
	opacity: 1;
}
.navbar-inverse .navbar-nav> li:hover .mega_menu1{
	visibility: visible;
	opacity: 1;
	top:109%;
	z-index: 100;
}
.navbar-inverse .navbar-nav>li>.mega_menu1>li:hover{
	background: transparent;
	text-indent: 0;
}
.mega_menu1 img{
	padding: 25px;
}
.mega_menu1 .mega1{
	margin-top: 35px;
}
.mega_menu1 .mega1 li{
	margin-top: -5px;
}
.mega_menu1 .mega1 li a:hover{
	color: #e4171c;
}
.navbar-inverse .navbar-nav> li>.mega_menu1{
	    position: absolute;
    width: 900px;
    height: 460px;
    background: #fff;
    z-index: 1;
    top: 120%;
visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    list-style: none;
    border: 1px solid #e9e9e9;
    margin-left: -237px;
}
.navbar-inverse .navbar-nav>li>ul{
	position: absolute;
	visibility: hidden;
	top: 80%;	
	opacity: 0;	
	transition: all 0.4s;
	list-style: none;
	z-index: 1000;
	margin-left: -23px;
	min-width: 170px;
	background: #fff;
	    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
}
.navbar-inverse .navbar-nav>li>ul li{
	padding:5px 0;
}

.navbar-inverse .navbar-nav>li>ul li a{
	position: relative;
	color: #6c6c6c;
	text-decoration: none;
	height: 30px;
	width: 60px;
	line-height: 30px;
	font-size: 15px;
	font-weight: 500;	

}
.navbar-nav>li>ul>li:hover {
	transition: all 0.3s;
	    text-indent: 5px;
	background: #fff;
	
}
.navbar-inverse .navbar-nav>li>ul>li>a:hover{
	background: transparent;
	color: #e4171c;
}
.navbar-nav  li a i{
	 font-size: 15px;
    margin-left: 2px;
}
.container-fluid{
	    padding: 0px 290px 0px 454px;

}
.cate{
	font-weight: 700;
	font-size: 18px;
	margin-right: 25px;  
	width: 92.067%;
    background: #e4171c;
    list-style: none;
    line-height: 49px;
}
.cate>a{
	color: #fff;
	padding: 14px 67px;
}
.cate>a>img{
	    margin-right: 15px;
    margin-top: -3px;
    margin-left: -48px;
}
.cate>ul {
	margin-right: 73%;
    border: none;
    border-radius: inherit;
    margin-top: 2px;
}
.cate>ul>li{
	margin-left: -15px;
}
.cate>ul>li>a {
	margin-bottom: 15px;
	    color: #767676;
    font-weight: 400;
    font-size: 16px;
}
.cate>ul>li>a:hover{
	color: #e4171c;
	background: transparent;
	text-indent: 5px;
	transition: 0.4s;
}
.cate .dropdown-menu{
	width: 270px;
	padding: 15px 0;
    margin-top: -23px;
    margin-left: 0;
        right: unset;

}
.cate .dropdown-menu>li{
	margin-left: 0px;
}
.cate .dropdown-menu li i {
	margin-right: 5px;
	font-size: 10px;
}
 .mega1 li{
	list-style: none;
	margin: 0;
	margin-left: -38px;
}
.mega1 li a{
	color: #767676;
	font-weight: 400;
	font-size: 16px
	margin-left: 36px;
}
.cate .mega_menu2 .mega1 li a:hover{
	color: #e4171c;
}
.mega_menu2 img{
	padding: 25px;
}
.mega_menu2 .mega1{
	margin-top: 20px;
}
.cate .mega_menu2 .mega1 li{
	margin-bottom: -15px;
}
.cate .mega_menu2{
	    position: absolute;
    margin-left: 270px;
    width: 900px;
    height: 460px;
    background: #fff;
    z-index: 1;
    top: 100%;
visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    padding: 30px;
    list-style: none;
    border: 1px solid #e9e9e9;
}
.cate ul li:hover .mega_menu2{
	visibility: visible;
	opacity: 1;
	top:0;
}
.navbar-inverse .navbar-nav>li>a{
	font-size: 17px;
	color: #222222;
	font-family: Roboto ;
	margin-right: 18px;
	line-height: 17px;
}
.home_all{
	height: 50px;
}
 .breadcrumb{
 	background: transparent;
 }
 .breadcrumb li i{
 	font-size: 10px;
 }
  .breadcrumb li{
  	margin-right: 11px;
  	font-weight: 500;
  }
 .breadcrumb li a{
 	line-height: 35px;
 	font-size: 15px;
 	color: #393939;
 	font-family: Roboto ;
 }
 .breadcrumb li a i{
 	font-size: 10px;
 }
 .breadcrumb li a:hover{
 	color: #e4171c;
 }
 .nav-tab>li {
 	margin-bottom: -2px;
 	margin-left: 2px;
 }
.categories ul li i {
	font-size: 10px;
	margin-right: 5px;
}
.categories{
border: 1px solid #e9e9e9;
    height: 515px;
    background: #fff;
}
.categories ul li a{
	position: relative;
color: #6c6c6c;
width: 258px;
margin-left: 10px;
font-size: 16px;
}
.categories ul li a:hover{
	color: #e4171c;
	background: transparent;
	border: none;
} 
.categories  p{
	color: #232323;
    font-size: 18px;
    padding-top: 25px;
    letter-spacing: 0.7px;
    margin-left: 26px;
}
.brands{
	border: 1px solid #e9e9e9;
	margin-top: 30px;
	height: 436px;
	background: #fff;
}
.brands ul li a{
    font-family: Roboto ;
    font-size: 15px;
    color: #6c6c6c;
    width: 259px;
    margin-left: 10px;
    margin-top: -2px;
}
.brands ul li a:hover{
	color: #e4171c;
}
input[type="checkbox"]{
	display: none;
}
input[type="checkbox"] +label:before{
	display: inline-block;
	width: 12px;
	height: 12px;
	vertical-align: middle;
	text-align: center;
	line-height: 11px;
	font-size: 12px;
	content: "";
	border: 1px solid #e9e9e9;
	border-radius: 10%;
	margin: 4px 6px 8px 0;
	background-clip: padding-box;

}
label {
margin-left: -25px;
font-weight: 400;
margin-top: 12px;
}
input[type="checkbox"]:checked +label:before {
	content: "\2713";
}
.brands ul li{
	list-style: none;
}
.brands  p{
	color: #232323;
    font-size: 18px;
    padding-top: 24px;
    letter-spacing: 1px;
    margin-left: 26px;
    margin-bottom: 6px;
}
.price{
	background: #fff;
	border: 1px solid #e9e9e9;
	margin-top: 30px;
	height: 635px;
}  
.price ul li p{
	color: #393939;
	 font-size: 18px; 
	 font-family: Roboto ;
	 padding: 10px;
	    margin-left: -22px;
	    margin-bottom: 22px;
	    letter-spacing: 1px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
	height: 5px;
    border: none;
    border-radius: inherit;
    width: 100%;
}
.ui-slider-horizontal .ui-slider-range{
	background: #e3171a;
    border: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #e3171a;
    border: navajowhite;
    outline: 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #e3171a;
    border: navajowhite;
    outline: 0;
}
#slider-3{
	margin-left: -15px;
	background: #d2d2ce;
}
.range-p{
	margin-top: -12px
}
.range-p>label{
	    margin-left: -12px;
    font-size: 16px;
    color: #797979;
        margin-top: 35px;

}
button, input, select, textarea{
	    margin-top: 33px;
	    border: none;
	    outline: 0;
	    color: #6d6d6d;
	    font-size: 16px;
}
.slidecontainer {
    width: 90%;
}
.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #e4171c;
    cursor: pointer;
    border-radius: 50%;
}
.price ul li{
	margin-top: 13px;
	    font-size: 16px;
    color: #6c6c6c;
    list-style: none;
}
.line34{
	margin-left: -17px;
}
.line34 img{
	margin-top: 28px;
}
.line3{
	margin-left: -17px;
}
.colo {
	margin-top: -7px;
}
.color div{
	float: left;
	margin-right: 7px;
	margin-bottom: 6px;
	height: 25px;
	width: 25px;
	cursor: pointer;
}
.color{
	margin-left: -12px;
	margin-top: -13px;

}
.color1 {
	background: #abb1bd;
}
.color2 {
	background: #cfc4a6;
}
.color3 {
	background: #abb1bd;
}
.color4 {
	background: #f8cacc;
}
.color5 {
	background: #904b00;
}
.color6 {
	background: #f8ecd6;
}
.color7 {
	background: #e04a39;
}
.color8 {
	background: #bf9968;
}
.color9 {
	background: #ec9b01;
}
.color10 {
	background: #669def;
}
.color11 {
	background: #a5d460;
}
.color12 {
	background: #ebc301;
}
.size p{
	 margin-left: 27px;
	margin-top: 24px;
	color: #393939;
    font-size: 18px;
    font-family: Roboto;
    letter-spacing: 1px;
}
.size ul li  a{
	color: #6c6c6c;
	margin-left: 10px;
		margin-top: -13px;
	width: 259px;
}
.size ul li {
	margin-top: 1px;
}
.size ul li  a:hover{
	color: #e4171c;
	background: transparent;
	border: none;
}
.sale{
	margin-top: 30px;
}
.sale figure {
    position: relative;
}
.sale figure::before {
	opacity: 0;
	overflow: hidden;
    position: absolute;
    top: 0;
    right:-6%;
    z-index: 2;
    display: block;
    content: '';
    width: 25%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(40deg);
    transform: skewX(180deg);
}
.sale figure:hover::before {
	opacity: 1;
    -webkit-animation: shine 0.5s;
    animation: shine 0.5s;
}
.war{
	border-bottom: 1px solid #d6d6d6;
	margin: 0;
}
.banner figure {
    position: relative;
}
.banner figure::before {
	opacity: 0;
	overflow: hidden;
    position: absolute;
    top: 0;
    right: 17%;
    display: block;
    content: '';
    width: 25%;
    height: 94%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(40deg);
    transform: skewX(40deg);
}
.banner figure:hover::before {
	opacity: 1;
    -webkit-animation: shine 0.5s;
    animation: shine 0.5s;
}
@-webkit-keyframes shine {
    100% {
        right: 100%;
    }
}
@keyframes shine {
    100% {
        right: 100%;
    }
}
.electronic	a{
	color: #2b2b2b;
	width: 100px;
font-size: 23px;
line-height: 51px;
text-decoration: none;
font-weight: 500;
margin-left: 14px;
}
.electronic	a:hover{
	color: #e4171c;
}
.electronic{
	border-bottom: 3px solid #e3161b;
	    width: 130px;
	margin-top: 27px;
	margin-left: -15px;
}
.showing a{
	float: right;
    color: #2c2c2c;
    font-size: 15px;
    line-height: 39px;
    font-family: Roboto ;
text-align: center;
text-decoration: none;
margin-top: 30px;
}
.menu4{
	padding: 9px 0px 0px 9px;
    float: right;
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-right: -15px;
    margin-left: 21px;\
    background: #fff;    	
}
.menu4:hover {
	border: 1px solid #e4171c;
}
.menu4 img{
	    margin-top: -9px;
    margin-left: -7px;
}
.pro_item button{
	background: #fff;
	border: 1px solid #d6d6d6;
	float: right;
}
.elec_show{
	border-bottom: 1px solid #d6d6d6;
}
.product-item{
	transition: all 0.5s;
}
.produ a {
	margin-top: 15px;
    font-size: 14px;
    font-family: Roboto ;
    letter-spacing: 0.3px;
    color: #2b2b2b;
    text-decoration: none;
    font-weight: 500;
}
.produ h4{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}
.produ a:hover{
	color: #e4171c;
}
 .cart{
    padding: 10px;
    background: #000;
    opacity: 0.5;
    color: #fff;
    display: block;
    position: absolute;
    width: 114px;
    height: 40px;
    bottom: 50%;
    visibility: hidden;
    transition: all 0.3s;}
.product-item:hover .cart{
    visibility: visible;
    bottom: 25%;
    opacity: 0.8; 
}
.cart:hover{
	background: #e5171b;
	text-decoration: none;
	color: #fff;
}
 .cart2{
    padding: 10px;
    background: #000;
    opacity: 0.5;
    color: #fff;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 0%;
    visibility: hidden;
    transition: all 0.3s;
    margin-left: 117px;
    text-align: center;
}
 .cart2 i{
 	margin-top: 3px;
 }
.product-item:hover .cart2{
    visibility: visible;
    bottom: 25%;
    opacity: 1;
}
.cart2:hover{
	background: #e5171b;
	text-decoration: none;
	color: #fff;
}
.sao{
    font-size: 12.5px;
    color: #f68f55;
}
.sao i {
	margin-left: 2px;
	float: right;
	    padding-top: 7px;
}
.produ strike {
	color: #979797;
	font-size: 15.5px;
	font-family: Roboto Condensed;
	margin-left: 2px;
	margin-top: 6px;
}
.gia:hover{
	color: #25d282fa;
}
a:focus, a:hover{
	text-decoration: none;
}
.gia {
	font-size: 20px;
	font-family: Roboto Condensed;
	color: #e91a22; 
	margin-top: -27px;
	text-decoration: none;
}
.description{
	visibility: hidden;
	position: absolute;
	padding: 5px 25px 5px 0px;}

.roww{text-align: center;
}
.pagination {
	margin-top: 30px;
	border-radius: 0px;
}
.pagination li a{
	height: 40px;
	width: 40px;
margin-top: 40px;
	text-align: center;
	line-height: 40px;
	margin-right: 11px;
	color: #2b2b2b;
	padding: 1px;
}
.pagination .first a{
	width: 100px;
}
.pagination .last a{
	width: 100px;
}
.pagination .cham a{
	border: none;
	line-height: 45px;
}
.pagination .cham a:hover{
	background: transparent;
	color: #2b2b2b;
}
.pagination li a:hover{
	color: #fff;
	background: #e4171c;
	border: none;
}
.pagination>li:first-child>a{
	    border-radius: 0px;
}
.pagination>li:last-child>a{
	border-radius: 0px;
}
.pagination>.active>a {
	background: #e4171c;
	border: none;
}
.pagination>.active>a:hover{
	background: #e4171c;
	border: none;
}
.clear{
	clear:both;
}
.tienich1{
	background: #eb1a20;
	padding: 64px;
	margin-top: 70px;
}
.free {
	text-align: center;
	color: #fff;
}
.free img{
	margin-bottom: 15px;
}
.free li{
	list-style: none;
	font-size: 11px;
	color: #f8acae;
}
.free p {
	margin: 0;
}
.line33{
	border-right: 0.5px solid #f05359;
	padding: 8px;
}
.line4{
 border-right: 0.5px solid #f05359;
	padding: 10px;
 }
.line0{
	padding: 13px;
}
.line1{
	border-right: 0.5px solid #f05359;
	padding: 12px;
}
.congcu{
	background: #ececec;
	font-size: 18px;
	padding: 27px;
}
.congcu ul li{
float: right;


}
.congcu1{
	float: right;
}
.congcu2{
	float: left;
	margin-left: -30px;
	padding: 7px;
	margin-top: -5px;
}
.congcu2 a:hover{
	color: #e4171c;
}
.congcu2 a{
	color: #343434;
	text-decoration: none;
	font-weight: 900;
}
.congcu2 p{
	font-size: 18px;
	 margin-left: 7px;
	 margin-top: 12px;
}
.congcu2 ul{
	font-size: 14px;	
	margin-left: -33px;
	margin-top: -14px;
}
.congcu3{
	    margin-top: 12px;
    width: 100%;
    border: 2px solid #eb1a20;
    background: #fff;
    height: 41px;
    margin-left: -15px;
}
.congcu3 form input{
	outline: 0;
	 font-size: 14px;
	 border: none;
	  float: left;
	       margin-left: 6px;
    margin-top: 7px;
    width: 55%;
}
.congcu3 form button{
	width: 27.47%;
	 height: 38px;
	  margin-top: 0px;
	  background: #eb1a20;
	  border: 0px solid #eb1a20;
	   float: right;color: #fff;
	   font-size: 15px;
	   letter-spacing: 1px;
	   transition: 0.3s;  	
	   min-width: 98px;
}
.congcu3 form button:hover{
	background: #ac2925;
	border: none;
}
.congcu4 {
	margin-top: 10px
}
.congcu4 li {
	color: #fff;
	width: 45px;
	height: 45px;
	float: left;
	list-style: none;
	border-radius: 40px;
	margin-left: 10px;
	text-align: center;
	line-height: 45px;
}
.congcu4 li a i{
	color: #fff;
	padding: 14px;
	border-radius: 114px;
}
.congcu4 li:hover{
	opacity: 0.8;
}
.ins{
	background: linear-gradient( #794fbd , #d52f87 , #fba749 );
}
.you{
	background: #e02a27;
}
.fac{
	background: #3b5999;
}
.twi{
	background: #1ea3f2;
}
.congcu3 img{
	float: right;
}
.footer1{
	background: #f7f7f7;
}
.tienich{
padding: 30px 0px;
}
.my {
	float: left;
}
.my p{
color: #393939;
	 font-size: 20px;
	 margin-left: -15px;
	margin-bottom: 20px;
	margin-top: 15px;
}
.my ul li a{
	color: #666666;
	bottom: 10px;
	font-size: 14px;
	text-decoration: none;
	text-decoration:capitalize;
}
.my ul li a:hover{
	color: #e4171c;
}
.my ul li{
	padding: 5px;

}
.my1 {
	float: left;
margin-top: 15px;
}
.my1  li a{
	color: #666666;
	bottom: 10px;
	font-size: 14px;
	text-decoration: none;
}
.my1  li a:hover{
	color: #e4171c;
}
.my1  li{
	list-style: none;
	padding: 5px;
}
.my1 i{
	margin-right: 10px;
}
.my1 p {
	color: #393939;
	 font-size: 20px;
	 margin-bottom: 20px;
}
.myy1{
	padding: 0px 33px;
}
.footer2{
	background: #2b2b2b;
}
.coppy {
	color: #fff;
    padding: 31px 17px;
}
.visa{
	padding: 31px 0px;
    float: right;
}
.breadcrumb>li+li:before {
	    content: "\00a0";
}

/*header mobi*/
.topnva_mobi{display: none;}
.top_mobi{border-bottom: 1px solid #e9e9e9 }
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
    border-right: 1px solid #ddd;
}
.sidenav ul {
	    -webkit-padding-start: 15px;
    padding-right: 15px;
}
.list-group-item:first-child{
	border-top-left-radius: 0;
    border-top-right-radius: 0;

}
.list-group-item:last-child{
	border-bottom-right-radius: 0;
    border-bottom-left-radius: ;
}
.sidenav>a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #222222;
    display: block;
    transition: 0.3s;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 25px;
}
.sidenav>ul>li{
	padding: 10px 0 10px 20px;
	list-style: none;
}
.sidenav>li ul li{	padding: 10px 0 10px 45px;}
.sidenav>ul>li>a{
	color: #2b2b2b;
	font-size: 18px;
}
.sidenav li ul{
	background: transparent;
margin-top: 3.5%;
    overflow-x: hidden;
    transition: 0.5s;
        -webkit-padding-start: 19px;

}
.sidenav li ul li {
	margin-top: 10px;
}
.sidenav li ul li a{
	color: #2b2b2b;
}
.sidenav li ul li a:hover{
	color: #e4171c;
}
.sidenav li button:hover ul{
	overflow-x: visible;
	margin-top: 0;
}
.list-group-item button{
	background: transparent;
    border: none;
    margin-top: -11px;
    color: #2b2b2b;
    float: right;
    padding: 12px 17px;
}
.up1,.up2,.up3{ display: none; color: #e4171c; }
.search_mobi{
	list-style: none;
}
.search_mobi>li {
	float: right;
	margin-left: 15px;
}
.search_mobi>li>i{
	padding: 14px 0;
	float: right;
	margin-left: 20px;
}
.sear_mobi{
	visibility: hidden;
	position: absolute;
    top: 120%;
    z-index: 1;
    width: 100%;
    border: 1px solid #ccc;
        padding: 10px;
    height: 58px;
    background: #fff;
    left: -57px;
}
.searc_mobi{
	visibility: hidden;
    margin-left: -100px;
    position: absolute;
    top: 100%;
    list-style: none;
    width: 120px;
    height: 180%;
    box-shadow: 0 0 2em rgba(0,0,0,.175);
    z-index: 1;
    background: #fff;
    right: 5px;
        -webkit-padding-start: 10px;
        padding: 10px
}
.searc_mobi a{
	color: #a7a2a2;
}
.searc_mobi a:hover{
	color: #e4171c;
}
 .searchh_mobi{
	visibility: hidden;
	box-shadow: 0 0 2em rgba(0,0,0,.175);
	position: absolute;
	top: 110%;
    z-index: 1;
    background: #fff;
    width: 260px;
    right: 15px;
    left: unset;
    padding: 10px;
}
.searchh_mobi .img_car img {width: 26%}
.searchh_mobi .produc_car{margin-top: 0}
.searchh_mobi .div-total{font-size: 17px;}
.searchh_mobi .cat_button button {width: 110px;font-size: 15px;padding: 10px 5px;}
.searc_mobi li{
	padding: 5px;
}
.sear_mobi .form-control{
	padding: 0 45px 0 10px;
	border: 1px solid #ccc;
	    border-radius: inherit;
}
.search{
	float: right;
	margin-top: -27px;
	margin-right: 10px;
	background: transparent;
}
.search_mobi>li:hover .sear_mobi{
	visibility: visible;
}
.search_mobi>li:hover .searc_mobi{
	visibility: visible;
}
.search_mobi>li:hover .searchh_mobi{
	visibility: visible;
}
.search_mobi li:hover{
	color: red;
}
.logo_mobi{
	text-align: center;
	padding: 10px;
}

.collapsee{
	visibility: visible;
    z-index: 1;
    transition: all .3s ease;
}
.hidden-lg button, input, select, textarea{
	margin-top: 17px;
}
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
.button1{
		font-size: 18px !important;
		color: #333333;
		line-height: 42px;
} 
.basel{
	content: " ";
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    opacity: 0;
    visibility: hidden;
    z-index:1;
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.collapsee .closebtn {
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 36px;
    margin-left: 50px;
    visibility: hidden;
    color: #2b2b2b;
}
.button2{
	visibility: hidden;
	font-size: 18px !important;
	color: #fff;
	background: #e4171c;
	padding: 5px 10px;
}
#main{
	padding-bottom: 30px;
	padding-top: 10px;
}
.main{display: none;}
