
.wrap {
	max-width: 1170px;

}
.row {
	max-width: 1170px;

}
.container {
    width: 1200px;}

body{
font-family: Roboto ;
	margin: auto;
	padding: 0px;
	width: 1170px;
	}
span{
	color: red
}
.header1{
	background: #fff;
	height: 31px;
}
.header1 ul li{
list-style: none;
line-height: 31px;
float: right;
}
.header1 ul li img{
padding: 0px 20px 0px 20px
}
.header1 ul li a{
	color: #878787;
	text-decoration: none;
	font-family:roboto Light;
	font-size: 13px;
}
.header1 ul li a:hover{
	color: red;
}
.header2{
	line-height: 99px;
	height: 99px;
}
.header2 .col-md-2 img{
	margin-left: -15px;
}
.header2 .a{
	border-radius: 0px;
}
.search {
    float: right;
    margin-top: -16px;
    line-height: 39px;
}
.search a{
margin-top: -2px;
	float: right;
}
.header2 .aa ul li{
    list-style: none;
    /* line-height: 51px; */
    /* float: left; */
    margin-top: -31px;
    margin-left: -30px;
    font-size: 16px;
}
.header2 .aa ul li img{
	margin-left: 10px;
	margin-top: -3px;
}
.header2 .aa ul li a{
color: #333333;
text-decoration: none;
}
.header2 .aa ul li a:hover{
	color: red;
}
.header2 .a .line2 {
float: left;
	    margin-top: -48px;
    margin-left: 23px;
}
form {
    margin-top: -62px;
    margin-left: 124px;
}
.enterr{
	width: 340px;
}
.search{
	outline: 0;
	float: right;
	background: red;
	height: 39px;
	width: 130px;
	border: none;
	color: #fff;
	margin-right: -17px;


}
.searchh{
	border: none;
	background: red;
	width: 270px;
	height: 50px;
	color: #fff;
	font-size: 18px;
	margin-left: -15px;
}
.header3 {	

	height: 51px;
	color: #fff;
	float: left;
}
.header3 button{
	float: left;
}

.header3 span{
	margin-top: 16px;
    margin-left: 20px;
    color: #fff;
    font-size: 18px;
}
.searchh img{
	margin-left: -56px;
    margin-top: -3px;
}
.header33 {
	height: 51px;
font-size: 17px;
float: left;

}
.header33 ul li{
list-style: none;
line-height: 51px;
float: left;
padding: 0px 10px;
}
.header33 ul li a{
	color: #232323;
	font-family: Roboto Medium;
	font-size: 17px;
	text-decoration: none;
}
.header33 ul li a:hover {
	display: block;
}
.navbar-inverse{
	background-color: #fff;
	border: none;
}
.lien img{
 margin-left: -500px;
 margin-top: -26px;					/*Headr..........................................................*/
}
.header33 ul li{
list-style: none;
line-height: 51px;
float: left;
padding: 0px 10px;
}
.sidebar{
	background: blue;
	height: auto;
}
.banner{
	background: #fff;	
}
.banner2 {
		    border: 1px solid #e9e9e9;
		    margin-top: 1px;
}
.banner2 ul li{
	list-style: none; 
	background: #fff;
	    padding: 8px;
	    margin-left: -20px;
}
.banner2 ul li a{
color: #6c6c6c;
font-size: 16px;
text-decoration: none;
}
.banner2 ul li a:hover{
	color: red;
}

.banner3{
	border: 1px solid #e9e9e9;
	margin-top: 20px;
	font-size: 16px;
}
.banner3 ul li{
	list-style: none;
	padding: 8px;
		color: #797979;
	text-decoration: none;
}

.banner3 ul li:hover{
	color: red;
}
.banner4{	
	border: 1px solid #e9e9e9;

}
.banner4 ul li{
margin-top: 6px;
list-style: none;
	color: #797979;
	font-size: 18px;
	text-decoration: none;
}
.banner4 ul li img{
	margin-left: -25px;
}
.mau img{
    padding: 2px 1px 2px 0px;

}
.mau{
	margin-top: 20px;
}
.banner5{
	margin-top: 20px;
}
								/*Banner..........................................................*/
.sanpham{
	background: #363636;
	float: right;

	margin-right: -15px;
}
.menu{
	height: 51px;
}
.menu1 a{
	color: #2b2b2b;
	width: 100px;
margin-left: 20px;
font-size: 23px;
line-height: 51px;
border-bottom: 3px solid red;
text-decoration: none;
}
.menu1 a:hover{
	color: red;

	
}

.menu2{

	padding: 6px 5px 0px 9px;
    float: right;
    width: 40px;
    height: 40px;
    border: 1px solid #d6d6d6;
		    
}
.menu4{

	padding: 6px 5px 0px 9px;
    float: right;
    width: 40px;
    height: 40px;
    border: 1px solid #d6d6d6;
    margin-right: 8px;
	    	
}
.menu3 { 

	float: right;
color: #434343;
    font-size: 15px;
}

.next{

	width: 800px;
	height: 40px;
	float: right;
	margin-top: 59px;
}
.next ul li{
	border: 1px solid #c2c2c2;
	float: left;
	width: 40px;
	height: 40px;
	margin-left: 10px;
	text-decoration: none;
	list-style: none;
	text-align: center;
	line-height: 40px;
}
#nextt {
	width: 100px;

}
.next ul li :hover{
	color: red;

		text-decoration: none;
}
.sanpham1{
	width: 900px;
	float: right;
		margin-top: 30px;
}
.sanpham1 li {
	float: left;
list-style: none;
    padding: 0px 0px 0px 30px;

}

.sanpham1 img{
	float: left;
}
.fa-star {
	color: #f68e56;
	float: right;
	margin-top: 6px;
	font-size: 14px;
	    margin-right: 3px;

}

.tienich1{
	margin-left: -367px;
	width: 1920px;
	background: red;
	height: 221px;
	margin-top: 2888px;

}
.free{
	float: right;
text-align: center;
	line-height: 170px;

margin-right: 0px;
	padding: 0px 23px 0px 30px;

}
.free p{
	margin-bottom: -150px;
	margin-top: -120px;
	margin-left: -35px;

}
.free ul li {
	color: #f7bbbc;
	list-style: none;
	margin-right: 50px;
	font-size: 11px;
	height: 200px;


}
.free1{
	width: 1170px;
	margin-left: 300px;

}
.congcu{
	background: #ececec;
	height: 91px;
	position: absolute;
	width: 1920px;
	font-size: 18px;
	margin-left: -367px;

}
.congcu ul li{
list-style: none;
float: right;
line-height: 50px;

}
.congcu1{
	margin-left: 300px;
	float: left;
	padding: 0px 20px 0px 0px;
}
.congcu2{
	float: left;
	line-height: 40px;
}
.congcu2 ul{
	font-size: 14px;
	margin-top: -37px;
	margin-left: -38px;
}
.congcu img{
margin-left: -40px;
}
.congcu3{
	width: 400px;
	height: 41px;
	border: 1px solid red;
margin-left: 700px;
	margin-top: 10px;

}
.congcu4 a{
	float: left;
	margin-top: -50px;
	margin-right: 500px;
	padding: 0px 50px 0px 5px;
}
.congcu3 img{
	float: right;
}
.tienich{

	height: 380px;

	margin-left: -367px;
padding-left: 240px;
margin-top: 150px;
}
.my {
	float: left;
padding: 10px 110px 10px 020px;

}
.my ul li a{
	color: #666666;
	bottom: 10px;
	font-size: 14px;
}
.my ul li{
	padding: 5px;
}
.my1 {
	float: left;
margin-top: 10px;

}
.my1 ul li a{
	color: #666666;
	bottom: 10px;
	font-size: 14px;
}
.my1 ul li{
	list-style: none;
	padding: 5px;
}
	@media screen and (max-width:500px) {
 .header2, .header3 {
    width:100%;
}