/*body{
	font-family: Roboto ;
	margin: auto;
	padding: 0px;
}
	 .button_see{
	 	padding-left: 20px;
	margin-top: 40px;
	width: 210px;
	height: 60px;
	background: #fc6a55;
	border: none;
	text-align: left;
	font-size: 14px;
	font-weight: 700;
	color: #fff;

}

     .button_see span{
	 	background-image: url(img/line.png);
    height: 1px;
    width: 20px;
    float: right;
    margin-top: 10px;
    margin-right: 21px;
    display: inline-block;
}
.layer img{
	width: 100%;
}
.
.row_header4{
    z-index: 10;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
	padding-top: 50px;
	padding-bottom: 50px;
	}
	.phone_top{
		padding-right: 80px;
		padding-top: 15px;
	}
	.phone_top span{
		float: right;
		border-right: 1px solid #a6a6a6;
		font-size: 16px;
		font-family: roboto condensed;
		color: #909090;
		font-weight: 300;
		padding-right: 20px;
		padding-left: 20px;
	}
	.phonee{
		 background-image: url(img/phone1.png);
    height: 20px;
    width: 20px;
    display: inline-block;
    border-right: none !important;
    padding-left: 0 !important;
	}
	.searc_mobi1 {
	float: right;
	color: #fff;
    margin-top: 0	;
    background: transparent;
    border: none;
    padding-right: 0;
    padding-left: 20px;
}
.x_search{
	    margin-top: 2px;
    float: right;
    margin-right: -6px;
    background: transparent;
    font-size: 23px;
}
.sear_mobi .form-control{
	padding: 0 32px 0 10px;
	border: 1px solid #ccc;
	    border-radius: inherit;
	    width: 85%;
	        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.sear_mobi{
	visibility: hidden;
	position: absolute;
    top: 120%;
    z-index: 1;
    width: 100%;
    border: 1px solid #ccc;
        padding: 10px 8px 10px 5px;
    height: 58px;
    background: #fff;
    left: -57px;
}

.logo{
	text-align: center;
}
.logo span{
	background-image: url(img/logo1.png);
    height: 47px;
   width: 148px;
   display: inline-block;
}
.navba{
	padding-left: 80px;
    padding-right: 0;

}
.navbar-nav>li {
	width: 95%;
}
.navbar-inverse .navbar-nav>li>a{
	color: #fff;
	font-family: roboto condensed;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
	padding-right: 14px;
	padding-left: 14px;
}
.navba .navbar-inverse{
	border: none;
    background: transparent;
   
}

.navbar-inverse .navbar-nav>li:hover ul{
	height: 200px;
    display: block;
    opacity: 1;
}
.dacap li{
	padding: 10px 5px;
}
.dacap{
transition: all 0.4s;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    padding: 22px 0;
    border: 1px solid #e9e9e9;
    list-style: none;
    height: 0px;
    display: none;
    opacity: 0;
    width: 200%;
    border-bottom: 1px solid;
    z-index: 1;
}
.navba>.navbar-inverse .navbar-nav>.active>a{
	    border-bottom: 1px solid #fc6955;
    background: transparent;
    font-family: roboto condensed;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 13px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.wrappage>.navbar-inverse .navbar-nav>li>a{
	color: #fff;
	font-family: roboto condensed;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 13px;
}
.wrappage>.navbar-inverse{
	border: none;
    background: transparent;
    position: absolute;
    top: 59px;
    right: 80px;
}
.wrappage>.navbar-inverse .navbar-nav>.active>a{
	    border-bottom: 1px solid #fc6955;
    background: transparent;
    font-family: roboto condensed;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 13px;
}
/*aaa*/
/*.about{
	width: 1000px;
    margin: auto;
    padding-top: 110px;
    padding-bottom: 60px;
    position: relative;
    top: -110px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 22px 13px;
}
.about-we {
	padding-left: 85px;
}
.about-we h5 {
	color: #909090;
	font-weight: 700;
	font-family: roboto condensed;
	letter-spacing: 1px;
}
.about-we h1{
	font-size: 48px;
	font-family: roboto condensed;
	font-weight: 700;
}
.corem-ipsum{
	padding-right: 85px;
}
.corem-ipsum p{
	font-size: 16px;
	color: #909090;
	padding-top: 10px;
	line-height: 190%;
}*/
/*sss*/
/*.case-center{
	background: #333333;
	padding-top: 150px;
	padding-bottom: 200px;
}
.slick-centermode img{
	width: 100%;
}
.case-studies {
	text-align: center;
}
.case-studies h1{
	font-family: roboto condensed;
	font-weight: 700;
	font-size: 50px;
	padding-top: 10px;
	padding-bottom: 20px;
	color: #fff;
}
.slick-dots li button:before{
	font-size: 11px !important;
	color: #909090 !important;
	opacity: 0.7 !important;
}
.slick-dots li.slick-active button:before{
	color: #fff !important;
}

.case-studies p{
	font-size: 16px;
	color: #909090;
	padding-bottom: 60px;
}
.case-studies h5{
	font-weight: 700;
	letter-spacing: 1px;
	color: #909090;
	font-family: roboto condensed;
}*/
/*}*/
/*.cooperate{
	padding-top: 150px;
	padding-bottom: 50px;
}
.brand h5 {
	color: #909090;
	font-weight: 700;
	font-family: roboto condensed;
	letter-spacing: 1px;
}
.brand h1{
	font-size: 50px;
	font-family: roboto condensed;
	font-weight: 700;
}

.brand p{
	font-size: 16px;
	color: #909090;
	line-height: 190%;
	padding-top: 20px;
}
.logo-brand img{
	padding: 44px;
	padding-top: 0px;
	 padding-bottom:100px;
}
.img-bar{
	padding-right: 0px !important;
}*/
/**/
/*.cases img{
width: 100%;
}
.cases {
	margin: 0;
}
.cases .col-md-3{
	padding: 0;
	position: relative;
}
.case-center .slick-next{
	display: none !important;
}
 .button_rea{
	background: transparent;
	color: #fc6955;
	font-family: roboto condensed;
	padding-left: 0;
	width: 135px;
	height: 50px;
	border: none;
	text-align: left;
	font-weight: 700;
}
     .button_rea span{
	background:#fc6955 ;
    height: 1px;
    width: 20px;
    float: right;
    margin-top: 10px;
    margin-right: 21px;
    display: inline-block;
}
    .read-mode-produc{
    	position: absolute;
    	top :270px;
    	padding-left: 50px;
    }
.read-mode-produc p{
	font-size: 30px;
	font-weight: 700;
	font-family: roboto condensed;
	color: #fff;
}*/
/**/
/*.servic{
	text-align: center;
	padding:150px 0;
}
.servic .col-md-12 h5{
	color: #909090;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: roboto condensed;

}
.servic .col-md-12 p{
	font-weight: 700;
	font-family: roboto condensed;
	font-size: 50px;
	padding-bottom: 70px;
	padding-top: 20px;

}
.servic h4{
	font-family: roboto condensed;
	font-weight: 700;
	font-size: 20px;
}
.servic p{
	line-height:185%;
}
.servic .col-md-4 p{
	font-size: 16px;
	color: #909090;
}

.servic .development{
	padding: 0 45px;
	padding-bottom: 58px;
	border-bottom: 1px solid #ebebeb;
}
.development span{
	background-image: url(img/web.png);
    height: 54px;
    width: 56px;
    display: inline-block;
}
.identity span{
	background-image: url(img/logoiden.png);
    height: 52px;
    width: 53px;
    display: inline-block;
}
.design span{
	background-image: url(img/garphics.png);
    height: 70px;
    width: 48px;
    display: inline-block;
    margin-top: -10px;
}
.appdevelopment span{
	background-image: url(img/app.png);
    height: 60px;
    width: 60px;
    display: inline-block;
}
.marketing span{
	background-image: url(img/social.png);
    height: 53px;
    width: 49px;
    display: inline-block;
}
.creation span{
	background-image: url(img/content.png);
    height: 46px;
    width: 65px;
    display: inline-block;
}

.servic .identity{
	padding: 0 45px;
	padding-bottom: 60px;
	border-bottom: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	border-left:1px solid #ebebeb;
}
.servic .design{
	padding: 0 45px;
	padding-bottom: 52px;
	border-bottom: 1px solid #ebebeb;
}
.servic .appdevelopment{
	padding: 0 45px;
	padding-top: 60px;
}
.servic .marketing{
	padding: 0 45px;
	padding-top: 60px;
	border-right: 1px solid #ebebeb;
	border-left:1px solid #ebebeb;
}
.servic .creation{
	padding: 0 45px;
	padding-top: 60px;
}*/
/**/
/*.video-skills{
	background: #f2f2f2;
	margin-left: 0;
	margin-right: 0;
}
.video {
	padding-left: 0;
}
.video img {
	width: 100%;
}
.skills h1{
	font-family: roboto condensed;
	font-size: 48px;
	font-weight: 700;
}
.skills {
	padding-left: 140px;
	padding-right:140px;
	padding-top: 180px;
}
.skills p{
	font-size: 16px;
	color: #909090;
	line-height: 185%;
	padding-top: 10px;
	padding-bottom: 70px;
}
.skill{
	background: #333333;
	padding-top: 40px;
	padding-bottom: 40px;
}
.snippets h3{
	font-family: roboto condensed;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}*/
/*skills*/
/*.progress{
    width: 100px;
    height: 100px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}*/
/*.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}*/
/*.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}*/
/*.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}*/
/*.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}*/
/*.progress .progress-value{
   width: 95px;
    height: 95px;
    border-radius: 96%;
    background: #44484b;
    font-size: 30px;
    color: #fff;
    line-height: 95px;
    text-align: center;
    position: absolute;
    top: 2.61%;
    left: 2.6%;
    z-index: 1;
    font-family: roboto condensed;
}*/
/*.progress.blue .progress-bar{
    border-color: #fc6a55;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fc6a55;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}*/
/*@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}*/

/*@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}*/
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
/*.contact{
	padding-bottom: 40px;
	padding-top: 50px;
}
.contact p{
	font-size: 30px;
	font-family: roboto condensed;
	color: #fff;
}
.contacts {
	background: #fc6a55;
}
.button-contac{
	color: #fff;
	border: none;
	background: transparent;
	font-size: 14px;
	font-weight: 700;
	font-family: roboto condensed;
	width: 170px;
	height: 50px;
}
.circle{
	padding-right: 20px;
}
.button-contac span{
	float: right;
	height: 1px;
	width: 20px;
	background: #fff;
	margin-top: 10px;
}*/
/**/
/*.blog{
	padding-top: 120px;
	padding-bottom: 100px;
	border-bottom: 1px solid #f2f2f2;
}
.blog1{
	padding-top: 50px;
}
.blog1 h5{
	font-weight: 700;
	color: #909090;
	font-family: roboto condensed;
}
.blog1 h1{
	font-weight: 700;
	font-size: 50px;
	font-family: roboto condensed;
	padding-bottom: 20px;

}
.blog1 p{
	font-size: 16px;
	color: #909090;
	padding-right: 35px;
	line-height: 185%;
}
.blog_name{
	padding-bottom: 30px;
	border-bottom: 1px solid #f2f2f2;
	padding-top: 50px;
}
.blog_name a{
	color: #333;
	font-size: 20px;
	font-family: roboto condensed;
	font-weight:700; 
}
.no-border{
	border: none;
}
.blog_name span{color: #fc6a53}
.blog_name>p{
	font-size: 16px;
	color: #909090;
	padding-top: 30px;
	    line-height: 185%;
}
.blog_name h5 {
color: #909090;
padding-bottom: 13px;
}*/
/**/
/*.detop {
	text-align: center;
}
.weare {
	padding-left: 355px;
	padding-right: 85px;
	padding-top: 100px;
}
.bar p{
	padding-top: 20px;
	color: #909090;
	font-size: 14px;
	font-family: roboto condensed;
	padding-bottom: 40px;
}
.skills_bar {
  width: 100%;
  background-color: #909090;
}

.skillss {
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  color: white;
}

.html {
	width: 92%; 
	background-color: #fc6a55;
	height: 5px;}
.html1 {
	width: 80%; 
	background-color: #fc6a55;
	height: 5px;}
.html2 {
	width: 70%; 
	background-color: #fc6a55;
	height: 5px;
}
	.weare h5{
	color: #909090;
	font-weight: 700;
	font-family: roboto condensed;
	letter-spacing: 1px;

}
.weare h1{
	font-weight: 700;
	font-family: roboto condensed;
	font-size: 50px;
	padding-bottom: 20px;
	padding-top: 20px;

}
.weare p{
	font-size: 16px;
	font-weight: 400;
	line-height: 185%;
	color: #909090;
	padding-bottom: 50px;
}
.who_we_are{
	margin-right: 0;
	margin-left: 0;
	padding-top: 50px;
}*/
/**/
/*.talk-to{
	position: relative;
	background: #333333;
	border-top: 10px solid #fc6a55;
	top:-165px; 
}
.talk-to .row{
padding: 150px 150px;
}
.input-contact{
	padding: 15px;
}
.input-contact input{
	width: 100%;
	height: 60px;
	outline: 0;
	padding-left: 20px;
	font-size: 16px;


}
.our-core{
	text-align: center;
}
.our-core h5{
	font-weight: 700;
	color: #909090;
	font-family: roboto condensed;
	letter-spacing: 1px;
}

.our-core h1{
	font-weight: 700;
	font-size: 50px;
	font-family: roboto condensed;
    color: #fff;
}
.our-core>p{
	font-size: 16px;
	color: #909090;
	    line-height: 185%;
	    padding-bottom:50px;
}
.button-contact{
	padding-top: 50px;
	text-align: center;
}
.button-contact button{
	width: 36%;
	height: 60px;
	text-align: left;
	padding-left: 20px;
	background: #fc6a55;
	border: none;	
	font-family: roboto condensed;
	font-weight: 700;
	color: #fff;
	padding-right: 20px;
	font-size: 14px;
}
.button-contact button span{
	float: right;
	width: 20px;
	height: 1px;
	background: #fff;
	margin-top: 10px;
}*/
/**/
/*.full-container{
	padding: 0 80px;
}
.footer1{
	 border-bottom: 1px solid #909090;
	 padding-bottom: 100px;
}
.logo_footer>ul{
	list-style: none;
	-webkit-padding-start: 10px;
}
.logo_footer>span{
	margin-bottom: 60px;
	background-image: url(img/logo1.png);
    height: 47px;
   width: 148px;
   display: inline-block;

}
.logo_footer ul li .loca{
	background-image: url(img/loca1.png);
    height: 20px;
    width: 16px;
    display: inline-block;
    margin-right: 10px;
}
.logo_footer ul li .emai{
	background-image: url(img/emai1.png);
    height: 18px;
    width: 20px;
    display: inline-block;
    margin-right: 10px;
}
.logo_footer ul li .phone{
	background-image: url(img/phone1.png);
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 10px;
}
.logo_footer h5{
	padding-left: 30px;
	font-size: 16px;
	font-family: roboto condensed;
	color: #909090;
	padding-bottom: 10px;
	line-height: 140%;	
}
.logo_footer p{
	font-size: 14px;
	font-family: roboto condensed;
	font-weight: 700;
	color: #333333;
}
.links>p{
	font-size: 20px;
    color: #333333;
    font-weight: 700;
    padding-left: 41px;
    font-family: roboto condensed;
    padding-bottom: 60px;
}
.links ul li a{
	color: #909090; 
	font-family: roboto condensed;
	font-size: 16px;

	
}
.links ul li span{
	    line-height: 19px;
    display: list-item;
    list-style: none;
    list-style-type: square;
    color: #fd6b54;
    font-size: 16px;
    float: left;
    margin-left: 17px;
}
.links{
	padding-right: 100px;
}
.links ul li{
	list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid #909090;
}
.links ul .k_border{
	border-bottom: none;
}
.recent_post>p{
	font-size: 20px;
    color: #333333;
    font-weight: 700;
    padding-left: 41px;
    font-family: roboto condensed;
    padding-bottom: 60px;
}
.recent_post{
	padding-right: 100px;
}
.recent_post ul li{
	list-style: none;
}
.recent_post ul li h5{
	    margin-bottom: 5px;
	    font-size: 16px;
    color: #909090;
    font-family: roboto condensed;
    font-weight: 300;
}
.recent_post ul li a{
	 font-size: 16px;
	  font-family: roboto condensed;
	  color: #333333;
	  font-weight: 700;
}
.recent_post ul li {
	  padding-bottom: 15px;
	  padding-top: 7px;
    border-bottom: 1px solid #909090;
}
.recent_post ul .k_border{
	border-bottom: none;
}
.newsletter>p{
	font-size: 20px;
    color: #333333;
    font-weight: 700;
    font-family: roboto condensed;
    padding-bottom: 60px;
}
.newsletter h4{
	color: #909090;
    font-size: 16px;
    font-family: roboto condensed;
    list-style: none;
    padding: 15px 0;
}
.newsletter{
	padding-right: 108px;
}
.your{
	padding-left: 20px;
	width: 100%;
    height: 50px;
    text-align: left;
    background: #323a4d;
    color: #fff;
    border: none;
    font-size: 16px;
    font-family: roboto;
    margin-bottom: 15px;
}
.subs{
	    padding-left: 20px;
    width: 100%;
    height: 50px;
    text-align: left;
    background: #fc6955;
    color: #fff;
    border: none;
    font-size: 16px;
    font-family: roboto condensed;
    font-weight: 700;
}
.your span{
	float: right;
    background-image: url(img/your.png);
    height: 11px;
    width: 14px;
    display: inline-block;
    margin-right: 15px;
    margin-top: 5px;
}
.subs span{
	float: right;
    background-image: url(img/line.png);
    height: 1px;
    width: 20px;
    display: inline-block;
    margin-right: 15px;
    margin-top: 10px;
}
.footer2{
	padding: 20px 0;
}
.copy{
    color: #909090;
}
.goto{
    color: #909090;
    text-align: right;
}*/
@media (min-width: 1360px) and (max-width: 1680px) {
 .row_top{top:200px;}
 .read-mode-produc{padding-left: 24px;}
 }
 .slick-list.draggable .slick-track .slick-slide{
 	width: 500px !important;
 }