body {
  font-family: Roboto;
  margin: auto;
  padding: 0px; }

* {
  box-sizing: border-box; }

.sidenav a:hover {
  color: #b6aeae; }

.button_see {
  padding-left: 20px;
  margin-top: 40px;
  width: 210px;
  height: 60px;
  background: #fc6a55;
  border: none;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  position: relative; }
  .button_see span {
    background-image: url(img/line.png);
    height: 1px;
    width: 20px;
    float: right;
    margin-top: 10px;
    margin-right: 21px;
    display: inline-block;
    position: relative; }
  .button_see:hover {
    background: #f45740;
    color: #f2f2f2; }
  .button_see:hover .xoay {
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    position: relative; }

.xoay {
  transition: all 0.4s ease 0s;
  position: absolute !important;
  right: 6px; }

.button_rea {
  background: transparent;
  color: #fc6955;
  font-family: roboto condensed;
  padding-left: 0;
  margin-top: 17px;
  width: 135px;
  height: 60px;
  border: none;
  text-align: left;
  font-weight: 700;
  position: relative;
  outline: 0; }
  .button_rea:hover {
    opacity: 0.7; }
  .button_rea span {
    background: #fc6955;
    height: 1px;
    width: 20px;
    float: right;
    margin-top: 10px;
    margin-right: 21px;
    display: inline-block; }
  .button_rea:hover .xoay {
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    position: relative; }

.row_top {
  margin-right: 0; }

.row_header {
  position: fixed;
  z-index: 1;
  width: 100%;
  margin-left: 0;
  margin-right: 0; }

.phone_top {
  padding-right: 80px;
  padding-top: 10px; }
  .phone_top .pull-right {
    cursor: pointer;
    padding: 15px;
    padding-top: 3px; }
    .phone_top .pull-right i {
      color: #fff;
      font-size: 20px; }
  .phone_top span {
    float: right;
    border-right: 1px solid #a6a6a6;
    font-size: 16px;
    font-family: roboto condensed;
    color: #fff;
    font-weight: 300;
    padding-right: 20px;
    padding-left: 20px; }
  .phone_top .phonee {
    background-image: url(img/phone.png);
    height: 20px;
    width: 20px;
    display: inline-block;
    border-right: none !important;
    padding-left: 0 !important; }

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
  padding-top: 50px; }

.affixx {
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 1;
  padding-bottom: 21px !important; }
  .affixx .logo span {
    background-image: url(img/logo.png);
    height: 47px;
    width: 148px;
    display: inline-block; }
  .affixx .navba {
    padding-left: 80px;
    padding-right: 0; }
    .affixx .navba .navbar-inverse {
      border: none;
      background: transparent;
      padding-right: 100px; }
      .affixx .navba .navbar-inverse .navbar-nav li {
        margin-left: 14px;
        margin-right: 14px; }
        .affixx .navba .navbar-inverse .navbar-nav li:hover ul {
          height: auto;
          visibility: visible;
          opacity: 1;
          overflow: visible;
          top: 103%; }
        .affixx .navba .navbar-inverse .navbar-nav li .dacap {
          transition: all 0.4s;
          background: #fff;
          display: inline-block;
          vertical-align: middle;
          padding: 22px 0;
          border: 1px solid #e9e9e9;
          list-style: none;
          height: 0px;
          top: 150%;
          visibility: hidden;
          overflow: hidden;
          opacity: 0;
          width: 160px;
          border-bottom: 1px solid;
          z-index: 1;
          position: absolute;
          margin-left: -20px; }
          .affixx .navba .navbar-inverse .navbar-nav li .dacap li {
            padding: 10px 5px; }
            .affixx .navba .navbar-inverse .navbar-nav li .dacap li:hover {
              border: none; }
            .affixx .navba .navbar-inverse .navbar-nav li .dacap li a {
              height: 0px;
              font-family: roboto condensed;
              font-weight: 700;
              color: #909090;
              transition: 0.3s;
              font-size: 14px; }
              .affixx .navba .navbar-inverse .navbar-nav li .dacap li a:hover {
                border: 0;
                text-decoration: none;
                color: #b6aeae;
                opacity: .7; }
        .affixx .navba .navbar-inverse .navbar-nav li a {
          color: #fff;
          font-family: roboto condensed;
          font-weight: 700;
          font-size: 14px;
          letter-spacing: 1px;
          padding-right: 0;
          padding-left: 0; }
          .affixx .navba .navbar-inverse .navbar-nav li a:hover {
            border-bottom: 1px solid #fc6955; }
      .affixx .navba .navbar-inverse .navbar-nav .active {
        border-bottom: 1px solid #fc6955; }
        .affixx .navba .navbar-inverse .navbar-nav .active a:hover {
          background: transparent; }

.sile1 {
  position: absolute;
  width: 50%;
  top: 350px;
  right: 0; }
  .sile1 .we_are {
    padding-right: 70px;
    padding-left: 0; }
    .sile1 .we_are h1 {
      font-family: roboto condensed;
      font-size: 90px;
      color: #fff;
      font-weight: 700; }
    .sile1 .we_are p {
      font-size: 18px;
      color: #fff;
      line-height: 185%; }

.modal {
  z-index: 1041 !important; }
  .modal .modal-dialog {
    width: 70%; }
    .modal .modal-dialog .modal-content {
      width: 100% !important;
      border-radius: inherit;
      top: 150px; }
      .modal .modal-dialog .modal-content .modal-header {
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
        margin: 0 15px; }
      .modal .modal-dialog .modal-content .input-group {
        width: 100%; }
        .modal .modal-dialog .modal-content .input-group .form-control {
          height: 50px; }
        .modal .modal-dialog .modal-content .input-group .button_search:hover i {
          color: #a18e8e; }
        .modal .modal-dialog .modal-content .input-group .input-group-btn {
          box-shadow: none;
          position: absolute;
          display: inline-block;
          top: 0px;
          right: -2px;
          width: 40px;
          line-height: 40px;
          z-index: 9999; }
          .modal .modal-dialog .modal-content .input-group .input-group-btn:last-child .btn {
            height: 50px;
            border: none;
            background: transparent;
            outline: 0;
            cursor: pointer; }
          .modal .modal-dialog .modal-content .input-group .input-group-btn:last-child .btn-group {
            height: 50px;
            border: none;
            background: transparent;
            outline: 0;
            cursor: pointer; }

/*mobi*/
.side {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 70px;
  background-color: #909090;
  overflow-x: hidden;
  transition: 0.5s;
  visibility: hidden;
  right: 0;
  opacity: 0;
  padding-left: 30px; }
  .side a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; }
  .side .phone_top {
    padding-top: 15px;
    color: #fff;
    font-size: 16px;
    font-family: roboto condensed;
    font-weight: 300; }
    .side .phone_top .phoneee {
      background-image: url(img/phone.png);
      height: 20px;
      width: 20px;
      display: inline-block;
      border-right: none !important;
      padding-left: 0 !important;
      float: left;
      margin-right: 10px; }

.navbar-inverse .navbar-nav > .active > a {
  background: transparent; }

.sidenav a:hover {
  color: #f1f1f1; }

.button1 {
  color: #fff;
  padding: 0 30px;
  transition: all 0.4s;
  padding-top: 12px;
  padding-left: 15px;
  font-size: 30px;
  cursor: pointer; }
  .button1 span {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    position: relative; }

.child2 {
  margin: 5px 0; }

.servic_home3 {
  background: #f2f2f2; }

.servic {
  text-align: center;
  padding: 150px 0; }
  .servic .col-md-12 h5 {
    color: #909090;
    font-weight: 700;
    font-family: roboto condensed; }
  .servic .col-md-12 p {
    font-weight: 700;
    font-family: roboto condensed;
    font-size: 50px;
    padding-bottom: 70px;
    padding-top: 20px; }
  .servic .development {
    padding-top: 15px;
    padding-bottom: 15px; }
    .servic .development .backg_home3 {
      background: #fff;
      padding: 50px 30px 43px 30px; }
      .servic .development .backg_home3 span {
        background-image: url(img/web.png);
        height: 54px;
        width: 56px;
        display: inline-block; }
      .servic .development .backg_home3 h4 {
        font-family: roboto condensed;
        font-weight: 700;
        font-size: 20px; }
      .servic .development .backg_home3 p {
        font-size: 16px;
        color: #909090; }
  .servic .identity {
    padding-top: 15px;
    padding-bottom: 15px; }
    .servic .identity .backg_home3 {
      background: #fff;
      padding: 52px 30px 43px 30px; }
      .servic .identity .backg_home3 span {
        background-image: url(img/logoiden.png);
        height: 52px;
        width: 52px;
        display: inline-block; }
      .servic .identity .backg_home3 h4 {
        font-family: roboto condensed;
        font-weight: 700;
        font-size: 20px; }
      .servic .identity .backg_home3 p {
        font-size: 16px;
        color: #909090; }
  .servic .design {
    padding-top: 15px;
    padding-bottom: 15px; }
    .servic .design .backg_home3 {
      background: #fff;
      padding: 34px 30px 43px 30px; }
      .servic .design .backg_home3 span {
        background-image: url(img/garphics.png);
        height: 70px;
        width: 48px;
        display: inline-block; }
      .servic .design .backg_home3 h4 {
        font-family: roboto condensed;
        font-weight: 700;
        font-size: 20px; }
      .servic .design .backg_home3 p {
        font-size: 16px;
        color: #909090; }
  .servic .appdevelopment {
    padding-top: 15px;
    padding-bottom: 15px; }
    .servic .appdevelopment .backg_home3 {
      background: #fff;
      padding: 44px 30px 43px 30px; }
      .servic .appdevelopment .backg_home3 span {
        background-image: url(img/app.png);
        height: 60px;
        width: 60px;
        display: inline-block; }
      .servic .appdevelopment .backg_home3 h4 {
        font-family: roboto condensed;
        font-weight: 700;
        font-size: 20px; }
      .servic .appdevelopment .backg_home3 p {
        font-size: 16px;
        color: #909090; }
  .servic .marketing {
    padding-top: 15px;
    padding-bottom: 15px; }
    .servic .marketing .backg_home3 {
      background: #fff;
      padding: 51px 30px 43px 30px; }
      .servic .marketing .backg_home3 span {
        background-image: url(img/social.png);
        height: 53px;
        width: 49px;
        display: inline-block; }
      .servic .marketing .backg_home3 h4 {
        font-family: roboto condensed;
        font-weight: 700;
        font-size: 20px; }
      .servic .marketing .backg_home3 p {
        font-size: 16px;
        color: #909090; }
  .servic .creation {
    padding-top: 15px;
    padding-bottom: 15px; }
    .servic .creation .backg_home3 {
      background: #fff;
      padding: 58px 30px 43px 30px; }
      .servic .creation .backg_home3 span {
        background-image: url(img/content.png);
        height: 46px;
        width: 65px;
        display: inline-block; }
      .servic .creation .backg_home3 h4 {
        font-family: roboto condensed;
        font-weight: 700;
        font-size: 20px; }
      .servic .creation .backg_home3 p {
        font-size: 16px;
        color: #909090; }

.team {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px; }
  .team .team1 h5 {
    color: #909090;
    font-weight: 700;
    font-family: roboto condensed;
    letter-spacing: 1px; }
  .team .team1 h1 {
    font-weight: 700;
    font-family: roboto condensed;
    font-size: 50px;
    padding-bottom: 70px;
    padding-top: 20px; }
  .team .col-md-4 img {
    padding-bottom: 30px;
    width: 100%; }
  .team .col-md-4 a {
    font-size: 18px;
    color: #333333;
    font-weight: 700;
    font-family: roboto condensed;
    padding-top: 30px;
    padding-bottom: 10px; }
  .team .col-md-4 p {
    font-size: 18px;
    color: #909090;
    padding-top: 10px;
    font-family: roboto condensed; }

.unlimited {
  padding-bottom: 150px;
  text-align: center;
  margin-right: 0;
  margin-left: 0; }
  .unlimited .website {
    background: #f2f2f2;
    padding: 130px 85px 101px 85px; }
    .unlimited .website span {
      background-image: url(img/Shape-1.png);
      height: 64px;
      width: 30px;
      display: inline-block; }
    .unlimited .website h4 {
      padding: 20px 0;
      font-weight: 700;
      font-size: 20px;
      font-family: roboto condensed; }
    .unlimited .website p {
      font-size: 16px;
      font-weight: 400;
      color: #909090;
      line-height: 185%; }
  .unlimited .customer {
    background: #fc6a55;
    color: #fff;
    padding: 130px 85px 103px 85px; }
    .unlimited .customer span {
      background-image: url(img/Shape-44.png);
      height: 47px;
      width: 67px;
      display: inline-block;
      margin-top: 15px; }
    .unlimited .customer h4 {
      padding: 20px 0;
      font-weight: 700;
      font-size: 20px;
      font-family: roboto condensed; }
    .unlimited .customer p {
      font-size: 16px;
      font-weight: 400;
      line-height: 185%; }
  .unlimited .development {
    background: #333333;
    color: #fff;
    padding: 130px 85px 103px 85px; }
    .unlimited .development span {
      background-image: url(img/Shape-33.png);
      height: 62px;
      width: 62px;
      display: inline-block; }
    .unlimited .development h4 {
      padding: 20px 0;
      font-weight: 700;
      font-size: 20px;
      font-family: roboto condensed; }
    .unlimited .development p {
      font-size: 16px;
      font-weight: 400;
      line-height: 185%; }
  .unlimited .branding {
    background: #000000;
    color: #fff;
    padding: 130px 85px 106px 85px; }
    .unlimited .branding span {
      background-image: url(img/Shape-22.png);
      height: 59px;
      width: 66px;
      display: inline-block; }
    .unlimited .branding h4 {
      padding: 20px 0;
      font-weight: 700;
      font-size: 20px;
      font-family: roboto condensed; }
    .unlimited .branding p {
      font-size: 16px;
      font-weight: 400;
      line-height: 185%; }

.who_we_are {
  margin-right: 0;
  margin-left: 0; }
  .who_we_are .weare {
    padding-left: 280px;
    padding-right: 85px; }
    .who_we_are .weare h5 {
      color: #909090;
      font-weight: 700;
      font-family: roboto condensed;
      letter-spacing: 1px; }
    .who_we_are .weare h1 {
      font-weight: 700;
      font-family: roboto condensed;
      font-size: 50px;
      padding-bottom: 20px;
      padding-top: 20px; }
    .who_we_are .weare p {
      font-size: 16px;
      font-weight: 400;
      line-height: 185%;
      color: #909090; }
    .who_we_are .weare .bar .skills_bar {
      width: 100%;
      background-color: #909090; }
      .who_we_are .weare .bar .skills_bar .html {
        width: 92%;
        background-color: #fc6a55;
        height: 5px; }
      .who_we_are .weare .bar .skills_bar .html1 {
        width: 80%;
        background-color: #fc6a55;
        height: 5px; }
      .who_we_are .weare .bar .skills_bar .html2 {
        width: 70%;
        background-color: #fc6a55;
        height: 5px; }
    .who_we_are .weare .bar p {
      font-size: 16px;
      font-weight: 400;
      line-height: 185%;
      color: #909090;
      padding-top: 20px;
      padding-bottom: 40px; }
      .who_we_are .weare .bar p span {
        float: right; }
  .who_we_are .col-md-6 .detop img {
    width: 100%; }

.porfolio {
  margin-right: 0;
  margin-left: 0; }
  .porfolio .mock {
    padding-right: 0; }
    .porfolio .mock img {
      width: 100%; }
  .porfolio .blanc {
    padding-left: 0; }
    .porfolio .blanc img {
      width: 50%;
      float: left; }

.what1 {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px; }
  .what1 .whatw h5 {
    color: #909090;
    font-weight: 700;
    font-family: roboto condensed;
    letter-spacing: 1px; }
  .what1 .whatw h1 {
    font-weight: 700;
    font-family: roboto condensed;
    font-size: 50px;
    padding-bottom: 70px;
    padding-top: 20px; }
  .what1 .main-img .slick-current {
    border: 1px solid red; }
  .what1 .main-img .slick-slide {
    margin: 0 15px; }
    .what1 .main-img .slick-slide .rul {
      border: 1px solid #f2f2f2;
      padding: 60px 25px; }
  .what1 .js-click-product {
    text-align: center;
    width: 100%;
    margin-top: 80px;
    height: 190px; }
    .what1 .js-click-product .slick-list {
      display: inline-block !important; }
    .what1 .js-click-product .slick-current {
      transform: scale(1.2); }
    .what1 .js-click-product .slick-slide {
      width: 90px !important;
      height: 90px;
      line-height: 90px; }
      .what1 .js-click-product .slick-slide img {
        display: inline-block; }
  .what1 .main-img1 {
    text-align: center; }
    .what1 .main-img1 .slick-list {
      width: 150px;
      display: inline-block; }
      .what1 .main-img1 .slick-list p {
        color: #909090; }
      .what1 .main-img1 .slick-list h5 {
        font-weight: 700;
        font-family: roboto condensed; }

.pricing-table {
  background: #f2f2f2;
  padding-top: 150px; }
  .pricing-table .our_pri h5 {
    color: #909090;
    font-weight: 700;
    font-family: roboto condensed;
    letter-spacing: 1px;
    text-align: center; }
  .pricing-table .our_pri h1 {
    font-weight: 700;
    font-family: roboto condensed;
    font-size: 50px;
    padding-bottom: 70px;
    padding-top: 20px;
    text-align: center; }
  .pricing-table .center-mode {
    padding-bottom: 150px; }
    .pricing-table .center-mode .months2 {
      border-right: 1px solid #f2f2f2;
      border-left: 1px solid #f2f2f2; }
    .pricing-table .center-mode .months {
      transition: all .5s;
      background: #fff;
      padding: 50px; }
      .pricing-table .center-mode .months p {
        font-size: 16px;
        color: #909090;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px; }
      .pricing-table .center-mode .months:hover {
        background: #202737;
        margin-top: -5%;
        padding-top: 10%;
        padding-bottom: 10%;
        color: #fff; }
        .pricing-table .center-mode .months:hover li, .pricing-table .center-mode .months:hover i, .pricing-table .center-mode .months:hover p {
          color: #fff; }
      .pricing-table .center-mode .months h5 {
        font-weight: 700;
        font-family: roboto condensed;
        color: #fc6a55; }
      .pricing-table .center-mode .months h1 {
        font-weight: 700;
        font-family: roboto condensed; }
        .pricing-table .center-mode .months h1 span {
          font-size: 50px; }
      .pricing-table .center-mode .months ul {
        padding-top: 20px;
        -webkit-padding-start: 0; }
        .pricing-table .center-mode .months ul li {
          color: #909090;
          font-size: 18px;
          font-family: roboto condensed;
          padding-top: 10px;
          list-style: none; }
          .pricing-table .center-mode .months ul li i {
            margin-right: 10px; }

.cuter {
  background: #333333; }
  .cuter .counter {
    padding: 90px 0; }
    .cuter .counter .counter1 {
      margin-left: 0;
      margin-right: 0; }
      .cuter .counter .counter1 .col-md-3 p {
        font-size: 14px;
        font-family: roboto condensed;
        color: #fff;
        letter-spacing: 1px; }
      .cuter .counter .counter1 .col-md-3 h1 {
        font-weight: 700;
        font-size: 40px;
        font-family: roboto condensed;
        color: #fff; }
      .cuter .counter .counter1 .col-md-3 span {
        height: 30px;
        border-left: 1px solid #fa6c54; }

.blog {
  padding: 150px 0; }
  .blog .col-md-12 h5 {
    font-weight: 700;
    color: #909090;
    font-family: roboto condensed;
    text-align: center; }
  .blog .col-md-12 h1 {
    font-weight: 700;
    font-size: 50px;
    font-family: roboto condensed;
    padding-top: 10px;
    padding-bottom: 60px;
    text-align: center; }
  .blog .col-md-4 .blog_img img {
    width: 100%; }
  .blog .col-md-4 .blog_name {
    padding-top: 15px; }
    .blog .col-md-4 .blog_name p {
      font-size: 16px;
      color: #909090;
      padding-top: 30px;
      line-height: 185%; }
    .blog .col-md-4 .blog_name h5 {
      color: #909090;
      padding-bottom: 13px; }
    .blog .col-md-4 .blog_name span {
      color: #fc6a53; }
    .blog .col-md-4 .blog_name a {
      color: #333;
      font-size: 20px;
      font-family: roboto condensed;
      font-weight: 700; }

.footer .full-container {
  padding: 0 80px;
  background: #333333; }
  .footer .full-container .footer1 {
    padding-top: 130px;
    border-bottom: 1px solid #474747;
    padding-bottom: 100px; }
    .footer .full-container .footer1 .logo-foo {
      margin-bottom: 60px;
      background-image: url(img/logo.png);
      height: 47px;
      width: 148px;
      display: inline-block; }
    .footer .full-container .footer1 .logo_footer {
      display: inline-block;
      padding-right: 100px;
      padding-bottom: 50px; }
      .footer .full-container .footer1 .logo_footer ul {
        list-style: none;
        -webkit-padding-start: 10px; }
        .footer .full-container .footer1 .logo_footer ul li .loca {
          background-image: url(img/loca.png);
          height: 20px;
          width: 16px;
          display: inline-block;
          margin-right: 10px; }
        .footer .full-container .footer1 .logo_footer ul li .phone {
          background-image: url(img/phone.png);
          height: 20px;
          width: 20px;
          display: inline-block;
          margin-right: 10px; }
        .footer .full-container .footer1 .logo_footer ul li .emai {
          background-image: url(img/emai.png);
          height: 18px;
          width: 20px;
          display: inline-block;
          margin-right: 10px; }
      .footer .full-container .footer1 .logo_footer h5 {
        padding-left: 30px;
        font-size: 16px;
        font-family: roboto condensed;
        color: #909090;
        padding-bottom: 10px;
        line-height: 140%; }
      .footer .full-container .footer1 .logo_footer p {
        font-size: 14px;
        font-family: roboto condensed;
        font-weight: 700;
        color: #fff; }
    .footer .full-container .footer1 .links {
      display: inline-block;
      padding-right: 100px;
      padding-bottom: 110px; }
      .footer .full-container .footer1 .links p {
        font-size: 20px;
        color: #fff;
        font-weight: 700;
        padding-left: 41px;
        font-family: roboto condensed;
        padding-bottom: 60px; }
      .footer .full-container .footer1 .links ul li {
        list-style: none;
        padding: 15px 0;
        border-bottom: 1px solid #474747; }
        .footer .full-container .footer1 .links ul li a {
          color: #909090;
          font-family: roboto condensed;
          font-size: 16px; }
        .footer .full-container .footer1 .links ul li span {
          line-height: 19px;
          display: list-item;
          list-style: none;
          list-style-type: square;
          color: #fd6b54;
          font-size: 16px;
          float: left;
          margin-left: 17px; }
      .footer .full-container .footer1 .links ul .k_border {
        border-bottom: none; }
    .footer .full-container .footer1 .recent_post {
      display: inline-block;
      padding-right: 100px; }
      .footer .full-container .footer1 .recent_post p {
        font-size: 20px;
        color: #fff;
        font-weight: 700;
        padding-left: 41px;
        font-family: roboto condensed;
        padding-bottom: 60px; }
      .footer .full-container .footer1 .recent_post ul li {
        padding-bottom: 15px;
        padding-top: 7px;
        border-bottom: 1px solid #474747; }
        .footer .full-container .footer1 .recent_post ul li h5 {
          margin-bottom: 5px;
          font-size: 16px;
          color: #909090;
          font-family: roboto condensed; }
        .footer .full-container .footer1 .recent_post ul li a {
          font-size: 16px;
          font-family: roboto condensed;
          color: #fff;
          font-weight: 700; }
      .footer .full-container .footer1 .recent_post ul .k_border {
        border-bottom: none; }
    .footer .full-container .footer1 .newsletter {
      display: inline-block;
      padding-left: 100px; }
      .footer .full-container .footer1 .newsletter p {
        font-size: 20px;
        color: #fff;
        font-weight: 700;
        font-family: roboto condensed;
        padding-bottom: 60px; }
      .footer .full-container .footer1 .newsletter h4 {
        color: #909090;
        font-size: 16px;
        font-family: roboto condensed;
        list-style: none;
        padding: 15px 0; }
      .footer .full-container .footer1 .newsletter .your {
        padding-left: 20px;
        width: 100%;
        height: 50px;
        text-align: left;
        background: #323a4d;
        color: #fff;
        border: none;
        font-size: 16px;
        font-family: roboto;
        margin-bottom: 15px;
        padding-top: 0px;
        transition: all .3s; }
        .footer .full-container .footer1 .newsletter .your:hover {
          background: #495163; }
        .footer .full-container .footer1 .newsletter .your span {
          float: right;
          background-image: url(img/your.png);
          height: 11px;
          width: 14px;
          display: inline-block;
          margin-right: 15px;
          margin-top: 5px; }
      .footer .full-container .footer1 .newsletter .subs {
        padding-left: 20px;
        width: 100%;
        height: 50px;
        text-align: left;
        background: #fc6955;
        color: #fff;
        border: none;
        font-size: 16px;
        font-family: roboto condensed;
        font-weight: 700;
        padding-top: 0;
        transition: all .3s;
        margin-top: 0; }
        .footer .full-container .footer1 .newsletter .subs:hover {
          background: #f45740; }
        .footer .full-container .footer1 .newsletter .subs span {
          float: right;
          background-image: url(img/line.png);
          height: 1px;
          width: 20px;
          display: inline-block;
          margin-right: 15px;
          margin-top: 10px; }
  .footer .full-container .footer2 {
    padding: 20px 0; }
    .footer .full-container .footer2 .copy {
      color: #909090; }
    .footer .full-container .footer2 .goto {
      text-align: right; }
      .footer .full-container .footer2 .goto span {
        color: #fff;
        font-weight: 700;
        font-family: roboto condensed;
        cursor: pointer; }

@media screen and (max-width: 1680px) {
  .sile1 {
    top: 200px; }

  .create {
    padding: 117px 30px; }

  .careate .carea .cust {
    padding: 15px 10px; }

  .carea {
    padding: 40px 80px; }

  .feedback .feeb {
    letter-spacing: 0; }

  .porfolio .col-md-pull-8 {
    padding: 0 40px;
    padding-top: 108px;
    padding-bottom: 120px; }

  .video .row_video {
    top: 15%; }

  .footer .full-container .footer1 > .links {
    padding-right: 15px; }

  .footer .full-container .footer1 > .logo_footer {
    padding-right: 15px; }

  .footer .full-container .footer1 > .recent_post {
    padding-right: 15px; }

  .footer .full-container .footer1 > .newsletter {
    padding-left: 15px; }

  .affixx .navba {
    padding-left: 30px; }

  .phone_top {
    padding-right: 30px; }

  .careate .carea {
    padding: 60px; } }
@media screen and (max-width: 1360px) {
  .counter1 .col-md-3 {
    padding-left: 8%; } }
@media screen and (max-width: 1170px) {
  .feedback .feeb {
    font-size: 200px; }

  .affixx .navba {
    padding-left: 15px; }

  .phone_top {
    padding-right: 15px; }

  .navbar-inverse .navbar-nav > li > a {
    padding-left: 11px;
    padding-right: 11px; }

  .sile1 .row_top .we_are h1 {
    padding: 0; }

  .we_are {
    padding: 0 50px; }

  .sile1 {
    top: 170px; }

  .careate .carea {
    padding: 15px; }

  .careate .carea .cust {
    padding: 10px 10px; }

  .careate .carea .cust h1 {
    font-size: 36px;
    padding-top: 0;
    padding-bottom: 0; }

  .careate .carea .cust p {
    line-height: 150%;
    margin-bottom: 0; }

  .cust h1 {
    padding-bottom: 0; }

  .cust p {
    line-height: 150%; }

  .button_see {
    margin-top: 27px; }

  .feedback .slide_main .test p {
    padding-bottom: 30px; }

  .porfolio .col-md-pull-8 {
    padding: 54px 15px; }

  .video .row_video {
    top: 15%; }

  .footer .full-container .footer1 .logo_footer {
    padding-right: 15px; }

  .footer .full-container .footer1 .newsletter {
    padding-left: 15px; }

  .footer .full-container {
    padding: 0 15px; }

  .affixx {
    top: 0px !important;
    padding-top: 20px; }

  .porfolio {
    padding: 80px 15px; } }
@media screen and (max-width: 1024px) {
  .affixx .navba .navbar-inverse {
    padding-right: 100px; }

  .affixx {
    padding-bottom: 10px !important; }

  .counter1 .col-md-3 {
    padding-left: 6%; }

  .porfolio .col-md-pull-8 {
    padding: 5.3% 30px; }

  .header-lap {
    display: none; }

  .header-mobi {
    display: block; }

  .sile1 {
    top: 20%; }

  .cust h1 {
    font-size: 30px; }

  .all-pro {
    width: 177px;
    padding-left: 5px; }

  .all-pro span {
    margin-right: 5px; }

  .video .row_video {
    top: 10%; }

  .phone_top span {
    display: none; }

  .phone_top .phonee {
    display: none; } }
@media screen and (max-width: 992px) {
  .porfolio .col-md-pull-8 {
    padding: 19px 30px; } }
@media screen and (max-width: 991px) {
  .who_we_are .we_01 {
    padding: 0 15px; }

  .careate .carea {
    width: 100%;
    padding: 0;
    position: relative; }

  .porfolio .col-md-8 {
    padding-left: 0; }

  .feedback .feeb {
    font-size: 130px; }

  .servic .identity {
    border-right: none;
    border-left: none;
    padding: 32px 15px 30px 15px; }

  .servic .design {
    padding: 30px 14px 32px 15px;
    border-right: 1px solid #ebebeb; }

  .servic .appdevelopment {
    padding: 32px 15px 30px 15px;
    border-bottom: 1px solid #ebebeb; }

  .servic .marketing {
    border-left: none;
    padding: 32px 15px 30px 15px; }

  .servic .development {
    border-right: 1px solid #ebebeb;
    padding: 30px 15px 30px 15px; }

  .servic .creation {
    padding: 40px 15px 30px 15px; }

  .video .row_video .video1 > p {
    font-size: 36px;
    padding-bottom: 0;
    padding-top: 10px; }

  .links ul {
    -webkit-padding-start: 0px; }

  .footer .full-container .footer1 .links p {
    padding-left: 0px;
    padding-bottom: 20px; }

  .footer .full-container .footer1 .recent_post p {
    padding-left: 0;
    padding-bottom: 20px; }

  .footer .full-container .footer1 .newsletter p {
    padding-bottom: 20px; }

  .footer .full-container .footer1 span {
    margin-bottom: 20px; }

  .recent_post ul {
    -webkit-padding-start: 0px; }

  .footer .full-container .footer1 .links {
    padding-bottom: 150px; }

  .sile1 .row_top .we_are h1 {
    font-size: 50px; }

  .sile1 {
    top: 20%; }

  .servic {
    padding-top: 50px; }

  .counter1 .col-md-3 {
    padding-left: 5%; } }
@media screen and (max-width: 768px) {
  .sile1 .row_top .we_are h1 {
    font-size: 41px; }

  .sile1 {
    top: 13%; }

  .row_top div p {
    line-height: 170%; }

  .who_we_are {
    padding: 100px 0; }

  .who_we_are .we_01 {
    padding-bottom: 50px; }

  .who_we_are .we_01 h4 {
    padding-bottom: 10px; }

  .slide_main .test {
    padding-top: 100px; }

  .feedback {
    padding-bottom: 100px; }

  .img_porfolio .col-md-4 {
    width: 50%; }

  .servic .col-md-4 {
    width: 50%; }

  .counter .col-md-3 {
    width: 50%;
    padding-left: 15%;
    padding-bottom: 50px; }

  .blog .col-md-4 {
    width: 33.33333%; }

  .button_see {
    margin-top: 10px; }

  .modal .modal-dialog {
    width: 93%; }

  .footer .full-container .footer1 .links {
    padding-right: 50px; }

  .video .row_video .video1 .button_play {
    width: 60px;
    height: 60px; }

  .button_rea {
    height: 38px;
    margin-top: 0; }

  .footer .full-container .footer2 .copy {
    text-align: center; }

  .footer .full-container .footer2 .goto {
    text-align: center; }

  .blog {
    padding: 100px 0; }

  .servic .col-md-12 p {
    font-size: 36px;
    padding-top: 10px;
    padding-bottom: 30px; }

  .who_we_are .who_are h1 {
    padding-bottom: 30px;
    padding-top: 10px;
    font-size: 36px; }

  .feedback .slide_main .test p {
    font-size: 36px; }

  .feedback .information .lazy h3 {
    font-size: 20px; }

  * h1 {
    font-size: 36px !important; } }
@media screen and (max-width: 680px) {
  .feedback .feeb {
    font-size: 100px; }

  .sile1 .row_top .we_are h1 {
    font-size: 36px; }

  .sile1 .row_top .we_are p {
    font-size: 14px;
    line-height: 150%; }

  .sile1 {
    top: 11%; }

  .who_we_are {
    padding: 50px 0; }

  .who_we_are .who_are h1 {
    font-size: 36px;
    padding-bottom: 10px; }

  .who_we_are .who_are p {
    font-size: 14px; }

  .careate .carea .cust h1 {
    font-size: 36px; }

  .careate .carea .cust p {
    font-size: 14px;
    line-height: 150%; }

  .button_see {
    margin-top: 10px;
    width: 180px;
    height: 45px; }

  .feedback .slide_main .test p {
    font-size: 36px; }

  .feedback {
    padding-bottom: 50px; }

  .feedback .information .lazy h3 {
    font-size: 16px; }

  .feedback .slide_main .test {
    padding-top: 50px; }

  .cuter .counter {
    padding: 50px 0 0 0; }

  .porfolio .nav_main .nav-tabs li {
    padding-right: 15px;
    padding-left: 3px; }

  .porfolio .col-md-pull-8 h1 {
    font-size: 36px; }

  .porfolio .col-md-pull-8 p {
    font-size: 16px;
    line-height: 150%; }

  .porfolio {
    padding: 50px 15px; }

  .servic {
    padding: 50px 0; }

  .button-proje {
    width: 210px; }

  .video .row_video .video1 > p {
    font-size: 24px; }

  .blog {
    padding: 50px 0; }

  .blog .col-md-12 h1 {
    font-size: 36px; }

  .blog .col-md-4 .blog_name a {
    font-size: 18px; }

  .blog .col-md-4 .blog_name p {
    font-size: 14px;
    line-height: 150%; }

  .footer #googlemap1 {
    height: 400px; }

  .footer1 {
    padding-top: 50px;
    padding-bottom: 50px; }

  .servic .col-md-12 p {
    font-size: 36px; } }
@media screen and (max-width: 568px) {
  .feedback .feeb {
    font-size: 70px; }

  .sile1 .row_top .we_are h1 {
    font-size: 24px; }

  .sile1 .row_top .we_are {
    padding: 0 30px; }

  .who_we_are .who_are h1 {
    font-size: 24px; }

  .who_we_are .we_01 h4 {
    font-size: 18px; }

  .who_we_are .we_01 p {
    font-size: 14px;
    line-height: 150%; }

  .porfolio .nav_main .nav-tabs li {
    padding-right: 0;
    padding-left: 4px; }

  .porfolio .col-md-pull-8 h1 {
    font-size: 24px; }

  .porfolio .col-md-pull-8 p {
    font-size: 14px; }

  .servic .col-md-12 p {
    font-size: 24px; }

  .servic .col-md-4 p {
    font-size: 14px;
    line-height: 150%; }

  .servic .development {
    padding: 0 14px;
    padding-bottom: 20px; }

  .servic .identity {
    padding: 0 15px;
    padding-bottom: 22px; }

  .servic .marketing {
    padding: 0 14px;
    padding-top: 20px; }

  .servic .creation {
    padding: 0 15px;
    padding-top: 27px; }

  .button_see {
    margin-top: 0; }

  .blog .col-md-12 h1 {
    font-size: 24px;
    padding-bottom: 20px; }

  .blog .col-md-4 {
    width: 100%;
    padding-bottom: 50px; }

  .blog .col-md-4 .blog_name p {
    padding-top: 10px; }

  .footer .full-container .footer1 .logo_footer {
    width: 100%;
    padding: 0 20% 60px 20%; }

  .footer .full-container .footer1 .links {
    width: 100%;
    padding: 0 20% 60px 20%; }

  .footer .full-container .footer1 > .recent_post {
    width: 100%;
    padding: 0 20% 60px 20%; }

  .footer .full-container .footer1 .newsletter {
    width: 100%;
    padding: 0 20% 60px 20%; }

  .feedback .slide_main .test p {
    font-size: 24px; }

  .feedback .information .lazy h3 {
    font-size: 14px; }

  * h1 {
    font-size: 24px !important; }

  .affixx {
    position: inherit !important;
    background: #909090 !important;
    padding-top: 40px; }

  .layer {
    padding-top: 83px; }

  .sile1 {
    top: 25%; } }
@media screen and (max-width: 480px) {
  .img_porfolio .col-md-4 {
    width: 100%; }

  .feedback .feeb {
    letter-spacing: 6px; }

  .feedback .information .lazy {
    padding: 0 10px;
    margin: 0 20px !important; }

  .affixx {
    position: inherit !important;
    background: #909090 !important;
    padding-top: 20px !important; }

  .affixx .logo span {
    margin-left: 25px; }

  .button_see {
    height: 30px;
    font-size: 10px;
    width: 120px;
    padding-left: 10px; }

  .button_see span {
    margin-top: 7px;
    width: 15px;
    margin-right: 9px; }

  .sile1 .row_top .we_are {
    padding: 0 15px; }

  .sile1 .row_top .we_are p {
    line-height: 130%; }

  .sile1 .row_top .we_are h1 {
    margin-bottom: 5px; }

  .sile1 {
    top: 16%; }

  .servic .col-md-4 {
    width: 100%;
    padding-left: 30px; }

  .cuter .counter .counter1 .col-md-3 h1 {
    font-size: 24px; }

  .counter .col-md-3 {
    padding-left: 7%;
    padding: 0 15px;
    padding-bottom: 40px; }

  .video .row_video .video1 .button_play {
    width: 40px;
    height: 40px; }

  .video .row_video .video1 > p {
    font-size: 17px;
    margin-bottom: 0; }

  .button-proje {
    width: 150px;
    margin-top: 5px; }

  .video .row_video {
    top: 5%; }

  .footer .full-container .footer1 .logo_footer {
    width: 100%;
    padding: 0 10% 60px 10%; }

  .footer .full-container .footer1 .links {
    width: 100%;
    padding: 0 10% 60px 10%; }

  .footer .full-container .footer1 > .recent_post {
    width: 100%;
    padding: 0 10% 60px 10%; }

  .footer .full-container .footer1 .newsletter {
    width: 100%;
    padding: 0 10% 60px 10%; }

  .servic .marketing {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px; }

  .servic .identity {
    padding-top: 20px; }

  .careate .carea .cust h1 {
    font-size: 24px; }

  .porfolio .nav_main {
    margin-left: -26px; } }
@media screen and (max-width: 1360px) {
  .unlimited .website {
    padding: 100px 50px 101px 50px; }

  .unlimited .customer {
    padding: 100px 50px 103px 50px; }

  .unlimited .development {
    padding: 100px 50px 103px 50px; }

  .unlimited .branding {
    padding: 100px 50px 106px 50px; }

  .who_we_are .weare {
    padding-left: 100px; }

  .sile1 .we_are {
    padding-right: 30px; }

  .sile1 .we_are h1 {
    font-size: 66px; } }
@media screen and (max-width: 1170px) {
  .sile1 .we_are h1 {
    font-size: 50px; }

  .unlimited .website {
    padding: 50px 15px 51px 15px; }

  .unlimited .customer {
    padding: 50px 15px 53px 15px; }

  .unlimited .development {
    padding: 50px 15px 53px 15px; }

  .unlimited .branding {
    padding: 50px 15px 56px 15px; }

  .who_we_are .weare {
    padding-right: 15px;
    padding-left: 15px; }

  .who_we_are .weare .bar p {
    padding-top: 10px;
    padding-bottom: 20px; }

  .servic .row {
    margin-right: 0;
    margin-left: 0; } }
@media screen and (max-width: 1024px) {
  .phone_top {
    padding-top: 10px; } }
@media screen and (max-width: 991px) {
  .sile1 .we_are p {
    font-size: 16px;
    line-height: 170%; }

  .sile1 .row_top .we_are h1 {
    font-size: 40px; }

  .servic .development {
    border: none; }

  .servic .appdevelopment {
    border: none; }

  .servic .marketing {
    border: none; }

  .servic .design {
    border: none; }

  .who_we_are .col-md-6 .detop img {
    padding-bottom: 30px; }

  .what1 .main-img .slick-slide .rul {
    padding: 20px 10px; }

  .pricing-table .center-mode .months {
    padding: 15px; } }
@media screen and (max-width: 768px) {
  .sile1 .we_are {
    padding-right: 10px; }

  .porfolio .blanc {
    padding-right: 0; }

  .porfolio .mock {
    padding-left: 0; }

  .what1 .js-click-product {
    height: 120px; }

  .pricing-table .center-mode .months {
    width: 33.333333%; }

  .pricing-table .center-mode .months ul li {
    font-size: 16px; }

  .pricing-table .center-mode .months p {
    font-size: 12px; }

  .pricing-table .center-mode .months h1 span {
    font-size: 40px; }

  .servic .col-md-12 p {
    font-size: 36px;
    padding-bottom: 30px;
    padding-top: 10px; }

  .servic {
    padding: 100px 0; }

  .team {
    padding: 100px 15px; }

  .team .team1 h1 {
    padding-top: 10px;
    padding-bottom: 30px; }

  .what1 {
    padding: 100px 15px; }

  .what1 .whatw h1 {
    font-size: 36px;
    padding-bottom: 30px;
    padding-top: 10px; }

  .pricing-table .our_pri h1 {
    padding-bottom: 30px;
    padding-top: 10px; }

  .pricing-table {
    padding-top: 100px; }

  .team .col-md-12 .button_see {
    margin-top: 50px; }

  .team .col-md-4 {
    width: 33.333%; } }
@media screen and (max-width: 680px) {
  .sile1 {
    width: 60%; } }
@media screen and (max-width: 568px) {
  .sile1 {
    width: 100%; }

  .servic .col-md-4 .backg_home3 p {
    font-size: 14px; }

  .servic .creation {
    padding-top: 19px; }

  .servic .design {
    padding: 15px; }

  .servic .appdevelopment {
    padding: 15px; }

  .what1 .main-img .slick-slide .rul {
    padding: 10px 4px; }

  .what1 .main-img .slick-slide .rul p {
    font-size: 12px; }

  .servic {
    padding: 50px 0; }

  .team {
    padding: 50px 0; }

  .unlimited {
    padding-bottom: 50px; }

  .what1 {
    padding: 50px 15px; }

  .pricing-table {
    padding-top: 50px; }

  .footer .full-container .footer1 {
    padding-bottom: 50px;
    padding-top: 50px; }

  .servic .col-md-12 p {
    font-size: 24px; }

  .who_we_are .weare p {
    font-size: 14px;
    line-height: 150%; }

  .who_we_are .weare .bar p {
    font-size: 14px; } }
@media screen and (max-width: 480px) {
  .pricing-table .center-mode .months {
    width: 100%;
    padding-bottom: 60px; }

  .porfolio .blanc img {
    width: 100%; }

  .sile1 {
    width: 97%; }

  .servic .col-md-4 {
    padding-left: 15px; }

  .team .col-md-4 {
    width: 100%;
    padding-bottom: 30px; }

  .what1 .main-img .slick-slide {
    margin: 0 5px; }

  .slick-slider .slick-track {
    width: 250px; }

  .what1 .js-click-product .slick-list {
    padding: 0 !important; }

  .what1 .js-click-product .slick-slide {
    width: 84px !important; }

  .what1 .main-img .slick-slide {
    width: 96% !important;
    padding: 5px; }

  .what1 .js-click-product {
    margin-top: 10px;
    height: 100px; } }

/*# sourceMappingURL=style-home3.css.map */
