/*/*/*/*/*body{
	font-family: Roboto ;
	margin: auto;
	padding: 0px;
}

	 .button_see{
	 	padding-left: 20px;
	margin-top: 40px;
	width: 210px;
	height: 60px;
	background: #fc6a55;
	border: none;
	text-align: left;
	font-size: 14px;
	font-weight: 700;
	color: #fff;

}
.container{
	width: 1200;
}

     .button_see span{
	 	background-image: url(img/line.png);
    height: 1px;
    width: 20px;
    float: right;
    margin-top: 10px;
    margin-right: 21px;
    display: inline-block;
}
/**/
.slidee1{
	margin: 60px;
	border: 1px solid #484848;
}
.slidee{
	background: #333333;
}
/**/
.layer img{
	width: 100%;
}
.row_header3{
	    position: fixed;
    z-index: 1;
    width: 100%;
       margin-left: 0;
    margin-right: 0;
	padding-top: 60px;
	}
	.phone_top{
		padding-right: 80px;
		padding-top: 15px;
	}
	.phone_top span{
		float: right;
		border-right: 1px solid #a6a6a6;
		font-size: 16px;
		font-family: roboto condensed;
		color: #fff;
		font-weight: 300;
		padding-right: 20px;
		padding-left: 20px;
	}
	.phonee{
		 background-image: url(img/phone.png);
    height: 20px;
    width: 20px;
    display: inline-block;
    border-right: none !important;
    padding-left: 0 !important;
	}
	.searc_mobi1 {
	float: right;
	color: #fff;
    margin-top: 0	;
    background: transparent;
    border: none;
    padding-right: 0;
    padding-left: 20px;
}
.x_search{
	    margin-top: 2px;
    float: right;
    margin-right: -6px;
    background: transparent;
    font-size: 23px;
}
.sear_mobi .form-control{
	padding: 0 32px 0 10px;
	border: 1px solid #ccc;
	    border-radius: inherit;
	    width: 85%;
	        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.sear_mobi{
	visibility: hidden;
	position: absolute;
    top: 120%;
    z-index: 1;
    width: 100%;
    border: 1px solid #ccc;
        padding: 10px 8px 10px 5px;
    height: 58px;
    background: #fff;
    left: -57px;
}
.sile1{
	position: absolute;
    width: 50%;
    top: 350px;
    right: 0;
}
.we_are{
	padding-right: 70px;
	padding-left: 0;
}
.row_top h1{
	font-family: roboto condensed;
	font-size: 90px;
	color: #fff;
	font-weight: 700;
}
.row_top>p{
	color: #fff;
}
.row_top div p{
	    font-size: 18px;
    color: #fff;
    line-height: 185%;
}
.logo{
	text-align: center;
}
.logo span{
	background-image: url(img/logo.png);
    height: 47px;
   width: 148px;
   display: inline-block;
}
.navba{
	padding-left: 80px;
    padding-right: 0;

}
.navbar-nav>li {
	width: 95%;
}
.navbar-inverse .navbar-nav>li>a{
	color: #fff;
	font-family: roboto condensed;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
	padding-right: 14px;
	padding-left: 14px;
}
.navba .navbar-inverse{
	border: none;
    background: transparent;
   
}

.navbar-inverse .navbar-nav>li:hover ul{
	height: 200px;
    display: block;
    opacity: 1;
}
.dacap li{
	padding: 10px 5px;
}
.dacap{
transition: all 0.4s;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    padding: 22px 0;
    border: 1px solid #e9e9e9;
    list-style: none;
    height: 0px;
    display: none;
    opacity: 0;
    width: 200%;
    border-bottom: 1px solid;
    z-index: 1;
}
.navba>.navbar-inverse .navbar-nav>.active>a{
	    border-bottom: 1px solid #fc6955;
    background: transparent;
    font-family: roboto condensed;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 13px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/**/
.servic_home3{
	background: #f2f2f2;
}
.servic{
	text-align: center;
	padding:150px 0;
}
.servic .col-md-12 h5{
	color: #909090;
	font-weight: 700;
	font-family: roboto condensed;

}
.servic .col-md-12 p{
	font-weight: 700;
	font-family: roboto condensed;
	font-size: 50px;
	padding-bottom: 70px;
	padding-top: 20px;

}
.servic h4{
	font-family: roboto condensed;
	font-weight: 700;
	font-size: 20px;
}
.servic p{
	line-height:185%;
}
.servic .col-md-4 p{
	font-size: 16px;
	color: #909090;
}
.development span{
	background-image: url(img/web.png);
    height: 54px;
    width: 56px;
    display: inline-block;
}
.identity span{
	background-image: url(img/logoiden.png);
    height: 52px;
    width: 53px;
    display: inline-block;
}
.design span{
	background-image: url(img/garphics.png);
    height: 70px;
    width: 48px;
    display: inline-block;
    margin-top: -10px;
}
.appdevelopment span{
	background-image: url(img/app.png);
    height: 60px;
    width: 60px;
    display: inline-block;
}
.marketing span{
	background-image: url(img/social.png);
    height: 53px;
    width: 49px;
    display: inline-block;
}
.creation span{
	background-image: url(img/content.png);
    height: 46px;
    width: 65px;
    display: inline-block;
}
.servic .development{
	padding-top: 15px;
	padding-bottom: 15px;
}
.servic .identity{

padding-top: 15px;
	padding-bottom: 15px;
}
.servic .design{

	padding-top: 15px;
	padding-bottom: 15px;
}
.servic .appdevelopment{

padding-top: 15px;
	padding-bottom: 15px;
}
.servic .marketing{

	padding-top: 15px;
	padding-bottom: 15px;
}
.servic .creation{

	padding-top: 15px;
	padding-bottom: 15px;
}
.backg_home3{
	background: #fff;
	padding: 50px 30px 43px 30px;
}
.servic .design .backg_home3{
	padding-top: 44px;
}
/**/
.team{
	text-align: center;
	padding-top: 150px;
	padding-bottom: 150px;
}
.team1 h5{
	color: #909090;
	font-weight: 700;
	font-family: roboto condensed;
	letter-spacing: 1px;

}
.team1 h1{
	font-weight: 700;
	font-family: roboto condensed;
	font-size: 50px;
	padding-bottom: 70px;
	padding-top: 20px;

}
.team a{
	font-size: 18px;
	color: #333333;
	font-weight: 700;
	font-family: roboto condensed;
	padding-top: 30px;
	padding-bottom: 10px;
}
.team p{
	font-size: 18px;
	color: #909090;
	padding-top: 10px;
	font-family: roboto condensed;
}
.team img{
	padding-bottom: 30px;
}
/**/
.unlimited{
	padding-bottom: 150px;
	text-align: center;
	margin-right: 0;
	margin-left: 0;

}

.unlimited .website{
	background: #f2f2f2;
	padding: 130px 85px 0 85px;
}
.unlimited .website span{
	background-image: url(img/Shape-1.png);
    height: 64px;
    width: 30px;
    display: inline-block;
}
.unlimited .website h4{
	padding: 20px 0;
	font-weight: 700;
	font-size: 20px;
	font-family: roboto condensed;

}
.unlimited .website p{
	font-size: 16px;
	font-weight: 400;
	color: #909090;
	line-height: 185%;
}
.unlimited .customer span {
	background-image: url(img/Shape-44.png);
    height: 47px;
    width: 67px;
    display: inline-block;
    margin-top: 15px;
}
.unlimited .customer{
	background: #fc6a55;
	color: #fff;
	padding: 130px 85px 0 85px;
}
.unlimited .customer img{
	padding:9px 0;
}
.unlimited .customer h4{
	padding: 20px 0;
	font-weight: 700;
	font-size: 20px;
	font-family: roboto condensed;
}
.unlimited .customer p{
	font-size: 16px;
	font-weight: 400;
	line-height: 185%;
}
.unlimited .development span{
	background-image: url(img/Shape-33.png);
    height: 62px;
    width: 62px;
    display: inline-block;
}
.unlimited .development{
	background: #333333;
	color: #fff;
	padding: 130px 85px 0 85px;
}
.unlimited .development h4{
	padding: 20px 0;
	font-weight: 700;
	font-size: 20px;
	font-family: roboto condensed;

}
.unlimited .development p{
	font-size: 16px;
	font-weight: 400;
	line-height: 185%;
}
.unlimited .branding span{
	background-image: url(img/Shape-22.png);
    height: 59px;
    width: 66px;
    display: inline-block;
}
.unlimited .branding{
	background: #000000;
	color: #fff;
	padding: 130px 85px 0 85px;
}
.unlimited .branding h4{
	padding: 20px 0;
	font-weight: 700;
	font-size: 20px;
	font-family: roboto condensed;

}
.unlimited .branding p{
	font-size: 16px;
	font-weight: 400;
	line-height: 185%;
	text-align: center;
}
/**/
.detop img {
	width: 100%;
}
.weare {
	padding-left: 280px;
	padding-right: 85px;
}
.bar p{
	padding-top: 20px;
	color: #909090;
	font-size: 14px;
	font-family: roboto condensed;
	padding-bottom: 40px;
}
.skills_bar {
  width: 100%;
  background-color: #909090;
}

.skillss {
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  color: white;
}

.html {
	width: 92%; 
	background-color: #fc6a55;
	height: 5px;}
.html1 {
	width: 80%; 
	background-color: #fc6a55;
	height: 5px;}
.html2 {
	width: 70%; 
	background-color: #fc6a55;
	height: 5px;}
	.weare h5{
	color: #909090;
	font-weight: 700;
	font-family: roboto condensed;
	letter-spacing: 1px;

}
.weare h1{
	font-weight: 700;
	font-family: roboto condensed;
	font-size: 50px;
	padding-bottom: 20px;
	padding-top: 20px;

}
.weare p{
	font-size: 16px;
	font-weight: 400;
	line-height: 185%;
	color: #909090;
}
/**/
.mock img {width: 100%;}
.blanc img{width: 50%; float: left;}
.mock {	padding-right: 0;}
.blanc {padding-left: 0;}
/**/
/*
.what1{
	text-align: center;
	padding-top: 150px;
	padding-bottom: 150px;
}
.whatw h5{
	color: #909090;
	font-weight: 700;
	font-family: roboto condensed;
	letter-spacing: 1px;

}
.whatw h1{
	font-weight: 700;
	font-family: roboto condensed;
	font-size: 50px;
	padding-bottom: 70px;
	padding-top: 20px;

}
 .main-img{

 }
.rul{
	border: 1px solid #f2f2f2;
	padding: 60px 25px;
}

.main-img .slick-slide{
	margin-right: 30px;
}

.js-click-product {
	text-align: center;
	width: 100%;
	margin-top: 80px;
}
.js-click-product .slick-slide{
	width: 90px !important;
	height: 90px;
	line-height: 90px;
}
.js-click-product .slick-track{
	width: initial !important; 
}
.js-click-product .slick-list {
	display: inline-block !important;
}
.main-img  .slick-current {
	border: 1px solid red;
}
.js-click-product .slick-current{
	transform: scale(1.2);
}
.main-img1{
	text-align: center;
}
.main-img1 .slick-list{
	width: 150px;
	display: inline-block;
}
.main-img1 p{
	color: #909090;
}
.main-img1 h5{
	font-weight: 700;
	font-family: roboto condensed;
}*/
/**/

.pricing-table{
	background: #f2f2f2;
}
.our_pri h5{
	color: #909090;
	font-weight: 700;
	font-family: roboto condensed;
	letter-spacing: 1px;
text-align: center;
}
.our_pri h1{
	font-weight: 700;
	font-family: roboto condensed;
	font-size: 50px;
	padding-bottom: 70px;
	padding-top: 20px;
text-align: center;
}
.center-mode{
	padding-bottom: 150px;
}
.months {
	background: #fff;
	padding: 50px;
}
.months h5{
	font-weight: 700;
	font-family: roboto condensed;
	color: #fc6a55;
}
.months h1{
		font-weight: 700;
	font-family: roboto condensed;

}
.months h1 span{
		font-size: 50px;
}
.months p{
	font-size: 16px;
	color: #909090;
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 20px;
}
.months ul{
	padding-top: 20px;
}
.months ul li {
	color: #909090;
	font-size: 18px;
	font-family: roboto condensed;
	padding-top: 10px;	
}
.months button{
	background: transparent;
	color: #fc6a55;
	border: none;
	font-family: roboto condensed;
	font-weight: 700;
	padding-top: 30px;
}
.months button:hover{
	opacity: 0.8;
	transition: all 0.5s;
}
.months:hover{
	background: #202737;
	margin-top: -50px;
	padding-top: 100px;
	margin-bottom: 100px;
	padding-bottom: 100px;
	transition: all 1s;
	color: #fff;
}
/**/
.counter .col-md-3{
	padding: 0 80px;
}
.counter .col-md-3 span {
	height: 30px;
	border-left: 1px solid #fa6c54;
}
.counter {
	padding: 90px 0;
}
.counter1 .col-md-3 p{
	font-size: 14px;
	font-family: roboto condensed;
	color: #fff;
	letter-spacing: 1px;
}
.cuter{
	background: #333333;

}
.counter1 .col-md-3 h1{
	font-weight: 700;
	font-size: 40px;
	font-family: roboto condensed;
	color: #fff;
}
/**/
.blog{
	padding: 150px 0;
}
.blog .col-md-12 h5{
	font-weight: 700;
	color: #909090;
	font-family: roboto condensed;
	text-align: center;
}

.blog .col-md-12 h1{
	font-weight: 700;
	font-size: 50px;
	font-family: roboto condensed;
	padding-top: 10px;
    padding-bottom: 60px;
    text-align: center;
}
.blog_name a{
	color: #333;
	font-size: 20px;
	font-family: roboto condensed;
	font-weight:700; 

}
.blog_name span{color: #fc6a53}
.blog_name>p{
	font-size: 16px;
	color: #909090;
	padding-top: 30px;
	    line-height: 185%;
}
.blog_name h5 {
color: #909090;
padding-bottom: 13px;
}
.blog_name{
	padding-top: 15px;
}
 .button_rea{
	background: transparent;
	color: #fc6955;
	font-family: roboto condensed;
	padding-left: 0;
	margin-top: 17px;
	width: 135px;
	height: 60px;
	border: none;
	text-align: left;
	font-weight: 700;
}
     .button_rea span{
	background:#fc6955 ;
    height: 1px;
    width: 20px;
    float: right;
    margin-top: 10px;
    margin-right: 21px;
    display: inline-block;}
/**/
.full-container{
	padding: 0 80px;
	background: #333333;
}
.footer1 .col-md-3 {
	padding: unset;
}
.footer1{padding-top: 130px; border-bottom: 1px solid #474747;padding-bottom: 100px;}
.logo_footer>ul{
	list-style: none;
	-webkit-padding-start: 10px;
}
.logo_footer>span{
	margin-bottom: 60px;
	background-image: url(img/logo.png);
    height: 47px;
   width: 148px;
   display: inline-block;

}
.logo_footer ul li .loca{
	background-image: url(img/loca.png);
    height: 20px;
    width: 16px;
    display: inline-block;
    margin-right: 10px;
}
.logo_footer ul li .emai{
	background-image: url(img/emai.png);
    height: 18px;
    width: 20px;
    display: inline-block;
    margin-right: 10px;
}
.logo_footer ul li .phone{
	background-image: url(img/phone.png);
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 10px;
}
.logo_footer h5{
	padding-left: 30px;
	font-size: 16px;
	font-family: roboto condensed;
	color: #909090;
	padding-bottom: 10px;
	line-height: 140%;	
}
.logo_footer p{
	font-size: 14px;
	font-family: roboto condensed;
	font-weight: 700;
	color: #fff;
}
.links>p{
	font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding-left: 41px;
    font-family: roboto condensed;
    padding-bottom: 60px;
}
.links ul li a{
	color: #909090; 
	font-family: roboto condensed;
	font-size: 16px;

	
}
.links ul li span{
	    line-height: 19px;
    display: list-item;
    list-style: none;
    list-style-type: square;
    color: #fd6b54;
    font-size: 16px;
    float: left;
    margin-left: 17px;
}
.links ul li{
	list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid #474747;
}
.links ul .k_border{
	border-bottom: none;
}
.recent_post>p{
	font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding-left: 41px;
    font-family: roboto condensed;
    padding-bottom: 60px;
}
.recent_post ul li h5{
	    margin-bottom: 5px;
	    font-size: 16px;
    color: #909090;
    font-family: roboto condensed;
}
.recent_post ul li a{
	 font-size: 16px;
	  font-family: roboto condensed;
	  color: #fff;
	  font-weight: 700;
}
.recent_post ul li {
	  padding-bottom: 15px;
	  padding-top: 7px;
    border-bottom: 1px solid #474747;
}
.recent_post ul .k_border{
	border-bottom: none;
}
.newsletter>p{
	font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding-left: 41px;
    font-family: roboto condensed;
    padding-bottom: 60px;
}
.newsletter ul li{
	color: #909090;
    font-size: 16px;
    font-family: roboto condensed;
    list-style: none;
    padding: 15px 0;
}
.your{
	padding-left: 20px;
	width: 100%;
    height: 50px;
    text-align: left;
    background: #323a4d;
    color: #fff;
    border: none;
    font-size: 16px;
    font-family: roboto;
    margin-bottom: 15px;
}
.subs{
	    padding-left: 20px;
    width: 100%;
    height: 50px;
    text-align: left;
    background: #fc6955;
    color: #fff;
    border: none;
    font-size: 16px;
    font-family: roboto condensed;
    font-weight: 700;
}
.your span{
	float: right;
    background-image: url(img/your.png);
    height: 11px;
    width: 14px;
    display: inline-block;
    margin-right: 15px;
    margin-top: 2px;
}
.subs span{
	float: right;
    background-image: url(img/line.png);
    height: 1px;
    width: 20px;
    display: inline-block;
    margin-right: 15px;
    margin-top: 10px;
}
.footer2{
	padding: 20px 0;
}
.copy{
    color: #909090;
}
.goto{
    color: #909090;
    text-align: right;
}
@media (min-width: 1360px) and (max-width: 1680px) {
	.unlimited .development{padding: 130px 15px 0 15px;}
	.unlimited .branding{padding: 130px 15px 0 15px;}
	.unlimited .customer{padding: 130px 15px 0 15px;}
	.unlimited .website{padding: 130px 15px 0 15px;}
	.weare {padding-left: 60px; padding-right: 30px;}
	}*/*/*/*/*/