/*body{
    font-family: Roboto ;
    margin: auto;
    padding: 0px;
}
     .button_see{
        padding-left: 20px;
    margin-top: 40px;
    width: 210px;
    height: 60px;
    background: #fc6a55;
    border: none;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    color: #fff;

}

     .button_see span{
        background-image: url(img/line.png);
    height: 1px;
    width: 20px;
    float: right;
    margin-top: 10px;
    margin-right: 21px;
    display: inline-block;
}

.layer img{
    width: 100%;
}*/
/*.row_header{
    z-index: 1;
    width: 100%;
       margin-left: 0;
    margin-right: 0;
    padding-top: 60px;
    }
    .phone_top{
        padding-right: 80px;
        padding-top: 15px;
    }
    .phone_top span{
        float: right;
        border-right: 1px solid #a6a6a6;
        font-size: 16px;
        font-family: roboto condensed;
        color: #fff;
        font-weight: 300;
        padding-right: 20px;
        padding-left: 20px;
    }
    .phonee{
         background-image: url(img/phone.png);
    height: 20px;
    width: 20px;
    display: inline-block;
    border-right: none !important;
    padding-left: 0 !important;
    }
    .searc_mobi1 {
    float: right;
    color: #fff;
    margin-top: 0   ;
    background: transparent;
    border: none;
    padding-right: 0;
    padding-left: 20px;
}
.x_search{
        margin-top: 2px;
    float: right;
    margin-right: -6px;
    background: transparent;
    font-size: 23px;
}
.sear_mobi .form-control{
    padding: 0 32px 0 10px;
    border: 1px solid #ccc;
        border-radius: inherit;
        width: 85%;
            white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.sear_mobi{
    visibility: hidden;
    position: absolute;
    top: 120%;
    z-index: 1;
    width: 100%;
    border: 1px solid #ccc;
        padding: 10px 8px 10px 5px;
    height: 58px;
    background: #fff;
    left: -57px;
}
.sile1{
    position: absolute; 
    width: 100%;
    text-align: center;
    top:260px;
}

.we_are{
    padding: 0 70px;
}
.row_top h1{
    font-family: roboto condensed;
    font-size: 90px;
    color: #fff;
    font-weight: 700;
}
.row_top>p{
    color: #fff;
}
.row_top div p{
        font-size: 18px;
    color: #fff;
    line-height: 185%;
}*/
/*.row_header5{
    z-index: 10;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 25px;
    padding-bottom: 30px;
    background: #f2f2f2;
    }
  
 .affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
      transition: all 0.5s;

  }
   .affix + .fixed-fluid{
      padding-top: 108px; 
  }*/
  /*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
 /* .unlimited{
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    background: #fff;
}
.unlimited .row {
    padding-bottom: 25px;
}
.unlimited .welcome h5{
    font-family: roboto condensed;
    font-weight: 700;
    color: #8f8f8f;
}

.unlimited .welcome h1{
    font-family: roboto condensed;
    font-weight: 700;
    font-size: 50px;
    color: #2b2b2b;
    padding-bottom: 10px;
}
.unlimited .welcome p{
    font-size: 16px;
    font-weight: 400;
    color: #909090;
    line-height: 185%;
    padding-bottom: 60px;
}
.unlimited .website{
    padding-right: 45px;
}
.unlimited .website span{
    background-image: url(img/Shape-1.png);
    height: 64px;
    width: 30px;
    display: inline-block;
}
.unlimited .website h4{
    padding: 20px 0;
    font-weight: 700;
    font-size: 20px;
    font-family: roboto condensed;

}
.unlimited .website p{
    font-size: 16px;
    font-weight: 400;
    color: #909090;
    line-height: 185%;
}
.unlimited .customer span {
    background-image: url(img/Shape-4.png);
    height: 47px;
    width: 67px;
    display: inline-block;
    margin-top: 15px;
}
.unlimited .customer{
    padding-right: 40px;
}
.unlimited .customer img{
    padding:9px 0;
}
.unlimited .customer h4{
    padding: 20px 0;
    font-weight: 700;
    font-size: 20px;
    font-family: roboto condensed;
}
.unlimited .customer p{
    font-size: 16px;
    font-weight: 400;
    color: #909090;
    line-height: 185%;
}
.unlimited .development span{
    background-image: url(img/Shape-3.png);
    height: 62px;
    width: 62px;
    display: inline-block;
}
.unlimited .development{
    padding-right: 35px;
}
.unlimited .development h4{
    padding: 20px 0;
    font-weight: 700;
    font-size: 20px;
    font-family: roboto condensed;

}
.unlimited .development p{
    font-size: 16px;
    font-weight: 400;
    color: #909090;
    line-height: 185%;
}
.unlimited .branding span{
    background-image: url(img/Shape-2.png);
    height: 59px;
    width: 66px;
    display: inline-block;
}
.unlimited .branding{
    padding-right: 15px;
}
.unlimited .branding h4{
    padding: 20px 0;
    font-weight: 700;
    font-size: 20px;
    font-family: roboto condensed;

}
.unlimited .branding p{
    font-size: 16px;
    font-weight: 400;
    color: #909090;
    line-height: 185%;
}*/
/**/
/*.testimonials-img img{
    width: 100%;
}
.testimonials-design{
    text-align: center;
    padding-top: 150px;
    background: #fc6a55;
    padding-bottom: 150px;
}
.testimonials-design .p{
    font-weight: 700;
    font-size: 30px;
    font-family: roboto condensed;
    padding-bottom: 10px;
    color: #fff;
    margin-left: 65px;
    margin-right: 65px;
}
.testimonials-design .pp{
    color: #909090;
    font-size: 16px;
    line-height: 185%;
    color: #fff;
}
.testimonials-design .file{
        background-image: url(img/file1.png);
    height: 26px;
    width: 33px;
    display: inline-block;
    margin-right: 20px;
    margin-left: -50px;
}
.testimonials-design .chuky{
    background-image: url(img/chuky.png);
    height: 23px;
    width: 205px;
    display: inline-block;
    margin-top: 55px;
}*/
/*aaaaaaaaaaa*/
/*.weare {
    padding-left: 355px;
    padding-right: 85px;
}
.bar p{
    padding-top: 20px;
    color: #909090;
    font-size: 14px;
    font-family: roboto condensed;
    padding-bottom: 40px;
}
.skills_bar {
  width: 100%;
  background-color: #909090;
}

.skillss {
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  color: white;
}

.html {
    width: 92%; 
    background-color: #fc6a55;
    height: 5px;}
.html1 {
    width: 80%; 
    background-color: #fc6a55;
    height: 5px;}
.html2 {
    width: 70%; 
    background-color: #fc6a55;
    height: 5px;
}
.weare h1{
    font-weight: 700;
    font-family: roboto condensed;
    font-size: 50px;
    padding-bottom: 20px;
    padding-top: 20px;

}
.weare p{
    font-size: 16px;
    font-weight: 400;
    line-height: 185%;
    color: #909090;
    padding-bottom: 50px;
}
.who_we_are{
    margin-right: 0;
    margin-left: 0;
    padding-top: 137px;
}
.ipad{
    position: relative;
}
.ipad>img{
    width: 100%;
}
.skills-img{
    padding-left: 50px;
    padding-right: 150px;
}*/
/**/
/**/
/*.group{
    background: #f2f2f2;
    width: 100%;
    padding-top: 150px;

}
.group-img {
    padding-right: 175px;
}
.img-img img{
    width: 100%;
    position: relative;
}
.img-position{
    top:-120px;
    left: 100px;
}*/
/*.easy-way h5{
    font-weight: 700;
    color: #909090;
    font-family: roboto condensed;
    letter-spacing: 2px;
}

.easy-way h1{
    font-weight: 700;
    font-size: 48px;
    font-family: roboto condensed;
}
.easy-way>p{
    font-size: 16px;
    color: #909090;
        line-height: 185%;
        padding-bottom:50px;
}
.easy-way ul li {
    color: #909090;
    padding: 15px 0;
    font-size: 16px;
    border-bottom: 1px solid #d9d9d9;
    list-style: none;
}
.easy-way ul li span{
    line-height: 19px;
    display: list-item;
    list-style-type: disc;
    color: #fd6b54;
    font-size: 25px;
    float: left;
    margin-left: 20px;
}
.no-border{
    border: none !important;
}*/
/**/
/*.counter .col-md-3{
    padding: 0 80px;
}
.counter .col-md-3 span {
    height: 30px;
    border-left: 1px solid #fa6c54;
}
.counter {
    padding: 90px 0;
}
.counter1 .col-md-3 p{
    font-size: 14px;
    font-family: roboto condensed;
    color: #fff;
    letter-spacing: 1px;
}
.cuter{
    background: #333333;

}
.counter1 .col-md-3 h1{
    font-weight: 700;
    font-size: 40px;
    font-family: roboto condensed;
    color: #fff;
}*/
/**/
/*.some {
    line-height: 185%;
    color: #909090;
    font-size: 16px;
}
.nav_main .navbar-inverse{
    background: transparent;
    border: none;
    
}
.nav_main>.navbar-inverse .navbar-nav a{
    font-family: roboto condensed;
    font-weight: 400;
}
.nav_main>.navbar-inverse .navbar-nav>.active>a{
    color: black;
    background: transparent;
    border-bottom: 1px solid #fc6955;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 15px;
    margin-left: 15px;
}
.img_porfolio img {
    padding: 15px 0;
    width: 100%;
}
.porfolio .p{
    font-family: roboto condensed;
    font-weight: 700;
    color: #909090;
    padding-top: 15px;
}
.porfolio h1{
    font-weight: 700;
    font-family: roboto condensed;
    font-size: 50px;
}
.porfolio>p{
    font-size: 16px;
    color: #909090;
    padding-top: 15px;
}
.porfolio {
    padding: 150px 0;
    
}
.porfo{
    border-bottom: 1px solid #f2f2f2;
}*/
/*aaa*/
/*.blog{
    padding: 150px 0;
    padding-bottom: 100px;
}
.blog .col-md-12 h5{
    font-weight: 700;
    color: #909090;
    font-family: roboto condensed;
}

.blog .col-md-12 h1{
    font-weight: 700;
    font-size: 50px;
    font-family: roboto condensed;
    padding-bottom: 30px;
}
.blog_name a{
    color: #333;
    font-size: 20px;
    font-family: roboto condensed;
    font-weight:700; 

}
.blog_name span{color: #fc6a53}
.blog_name>p{
    font-size: 16px;
    color: #909090;
    padding-top: 30px;
        line-height: 185%;
}

.blog_name h5 {
color: #909090;
padding-bottom: 13px;
}
.blog_name{
    padding-top: 15px;
    padding-bottom: 50px;
}
 .button_rea{
    background: transparent;
    color: #fc6955;
    font-family: roboto condensed;
    padding-left: 0;
    margin-top: 17px;
    width: 135px;
    height: 60px;
    border: none;
    text-align: left;
    font-weight: 700;
}
     .button_rea span{
    background:#fc6955 ;
    height: 1px;
    width: 20px;
    float: right;
    margin-top: 10px;
    margin-right: 21px;
    display: inline-block;
}*/
/**/
/*    #googlemap1{
        width: 100%;
        height: 800px;
    }
    /**
     * /
     */
 /*   .ful-container{
    padding: 0 80px;
    padding-top: 150px;
}
.footer1{
     border-bottom: 1px solid #909090;
     padding-bottom: 100px;
}
.logo_footer>ul{
    list-style: none;
    -webkit-padding-start: 10px;
}
.logo_footer>span{
    margin-bottom: 60px;
    background-image: url(img/logo1.png);
    height: 47px;
   width: 148px;
   display: inline-block;

}
.logo_footer ul li .loca{
    background-image: url(img/loca1.png);
    height: 20px;
    width: 16px;
    display: inline-block;
    margin-right: 10px;
}
.logo_footer ul li .emai{
    background-image: url(img/emai1.png);
    height: 18px;
    width: 20px;
    display: inline-block;
    margin-right: 10px;
}
.logo_footer ul li .phone{
    background-image: url(img/phone1.png);
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 10px;
}
.logo_footer h5{
    padding-left: 30px;
    font-size: 16px;
    font-family: roboto condensed;
    color: #909090;
    padding-bottom: 10px;
    line-height: 140%;  
}
.logo_footer p{
    font-size: 14px;
    font-family: roboto condensed;
    font-weight: 700;
    color: #333333;
}
.links>p{
    font-size: 20px;
    color: #333333;
    font-weight: 700;
    padding-left: 41px;
    font-family: roboto condensed;
    padding-bottom: 60px;
}
.links ul li a{
    color: #909090; 
    font-family: roboto condensed;
    font-size: 16px;

    
}
.links ul li span{
        line-height: 19px;
    display: list-item;
    list-style: none;
    list-style-type: square;
    color: #fd6b54;
    font-size: 16px;
    float: left;
    margin-left: 17px;
}
.links{
    padding-right: 100px;
}
.links ul li{
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid #909090;
}
.links ul .k_border{
    border-bottom: none;
}
.recent_post>p{
    font-size: 20px;
    color: #333333;
    font-weight: 700;
    padding-left: 41px;
    font-family: roboto condensed;
    padding-bottom: 60px;
}
.recent_post{
    padding-right: 100px;
}
.recent_post ul li{
    list-style: none;
}
.recent_post ul li h5{
        margin-bottom: 5px;
        font-size: 16px;
    color: #909090;
    font-family: roboto condensed;
    font-weight: 300;
}
.recent_post ul li a{
     font-size: 16px;
      font-family: roboto condensed;
      color: #333333;
      font-weight: 700;
}
.recent_post ul li {
      padding-bottom: 15px;
      padding-top: 7px;
    border-bottom: 1px solid #909090;
}
.recent_post ul .k_border{
    border-bottom: none;
}
.newsletter>p{
    font-size: 20px;
    color: #333333;
    font-weight: 700;
    font-family: roboto condensed;
    padding-bottom: 60px;
}
.newsletter h4{
    color: #909090;
    font-size: 16px;
    font-family: roboto condensed;
    list-style: none;
    padding: 15px 0;
}
.newsletter{
    padding-left: 108px;
}
.your{
    padding-left: 20px;
    width: 100%;
    height: 50px;
    text-align: left;
    background: #323a4d;
    color: #fff;
    border: none;
    font-size: 16px;
    font-family: roboto;
    margin-bottom: 15px;
}
.subs{
        padding-left: 20px;
    width: 100%;
    height: 50px;
    text-align: left;
    background: #fc6955;
    color: #fff;
    border: none;
    font-size: 16px;
    font-family: roboto condensed;
    font-weight: 700;
}
.your span{
    float: right;
    background-image: url(img/your.png);
    height: 11px;
    width: 14px;
    display: inline-block;
    margin-right: 15px;
    margin-top: 5px;
}
.subs span{
    float: right;
    background-image: url(img/line.png);
    height: 1px;
    width: 20px;
    display: inline-block;
    margin-right: 15px;
    margin-top: 10px;
}
.footer2{
    padding: 20px 0;
}
.copy{
    color: #909090;
}
.goto{
    color: #909090;
    text-align: right;
}*/*/